/* leaflet-routing-machine */

.leaflet-routing-container,
.leaflet-routing-error {
  width: 320px;
  background-color: white;
  padding-top: 4px;
  /* transition: all 0.2s ease; */
  transition: transform 2s;
  box-sizing: border-box;
}

.leaflet-control-container .leaflet-routing-container-hide {
  width: 40px;
  height: 40px;
}

.leaflet-routing-container h2 {
  font-size: 14px;
}

.leaflet-routing-container h3 {
  font-size: 12px;
  font-weight: normal;
}

.leaflet-routing-collapsible .leaflet-routing-geocoders {
  margin-right: 10px;
}

.leaflet-routing-geocoders,
.leaflet-routing-error {
  padding: 6px 10px 6px 0;
  margin-top: 2px;
  margin-bottom: 6px;
  /* margin-right: 10px; */
  /* border-bottom: 1px solid #ccc; */
  max-height: 230px;
  overflow-y: auto;
  transition: all 0.2s ease;
}

.leaflet-routing-alt {
  padding: 6px 0px 6px 0;
  /* margin-top: 2px; */
  /* margin-bottom: 6px; */
  max-height: 300px;
  overflow-y: auto;
  transition: all 0.2s ease;
  display: none;
}

.leaflet-routing-alt-twopath {
  max-height: 220px;
}

.leaflet-control-container .leaflet-routing-container-hide .leaflet-routing-alt,
.leaflet-control-container .leaflet-routing-container-hide .leaflet-routing-geocoders {
  display: none;
}

.leaflet-bar .leaflet-routing-alt:last-child {
  border-bottom: none;
}

.leaflet-routing-alt-minimized {
  color: #888;
  /* max-height: 64px; */
  max-height: 108px;
  overflow: hidden;
  cursor: pointer;
  display: none;
}

.leaflet-routing-alt table {
  border-collapse: collapse;
  display: none;
}

.leaflet-routing-alt tr {
  padding: 7px 0px;
}

.leaflet-routing-alt tr:hover {
  background-color: #eee;
  cursor: pointer;
}

.leaflet-routing-alt::-webkit-scrollbar {
  width: 4px;
}

.leaflet-routing-alt::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #eee;
}

.leaflet-routing-alt::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #FF5630;
}

.leaflet-routing-icon {
  background-image: url('../images/icons/leaflet.routing.icons.png');
  -webkit-background-size: 240px 20px;
  background-size: 240px 20px;
  background-repeat: no-repeat;
  margin: 0;
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
}

.leaflet-routing-icon-continue {
  background-position: 0 0;
}

.leaflet-routing-icon-sharp-right {
  background-position: -20px 0;
}

.leaflet-routing-icon-turn-right {
  background-position: -40px 0;
}

.leaflet-routing-icon-bear-right {
  background-position: -60px 0;
}

.leaflet-routing-icon-u-turn {
  background-position: -80px 0;
}

.leaflet-routing-icon-sharp-left {
  background-position: -100px 0;
}

.leaflet-routing-icon-turn-left {
  background-position: -120px 0;
}

.leaflet-routing-icon-bear-left {
  background-position: -140px 0;
}

.leaflet-routing-icon-depart {
  background-position: -160px 0;
}

.leaflet-routing-icon-enter-roundabout {
  background-position: -180px 0;
}

.leaflet-routing-icon-arrive {
  background-position: -200px 0;
}

.leaflet-routing-icon-via {
  background-position: -220px 0;
}

.leaflet-routing-geocoders div {
  padding: 4px 0px 4px 0px;
}

/* .leaflet-routing-geocoders div:nth-child(1)::before{
    /* content: '\2688  لطفا مبدا و مقصد خود را انتخاب کنید.'; */
/* font-family: "IRANSans";
    color: #FF5630;
} */

#map>div.leaflet-control-container>div.leaflet-top.leaflet-right>div.leaflet-routing-container.leaflet-bar.leaflet-control>div.leaflet-routing-geocoders>div:nth-child(1)>input {
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: #555;
  float: none;
  padding: 3px 12px;
  font-family: "IRANSans";
  font-size: 10px;
}

#map>div.leaflet-control-container>div.leaflet-top.leaflet-right>div.leaflet-routing-container.leaflet-bar.leaflet-control>div.leaflet-routing-geocoders>div:nth-child(1)>input:focus {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  outline: none;
}

#map>div.leaflet-control-container>div.leaflet-top.leaflet-right>div.leaflet-routing-container.leaflet-bar.leaflet-control>div.leaflet-routing-geocoders>div:nth-child(n+2)>input {
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: #555;
  float: none;
  padding: 3px 12px;
  font-family: "IRANSans" !important;
  font-size: 10px;

}

#map>div.leaflet-control-container>div.leaflet-top.leaflet-right>div.leaflet-routing-container.leaflet-bar.leaflet-control>div.leaflet-routing-geocoders>div:nth-child(n+2)>input:focus {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  outline: none;


}

.leaflet-routing-geocoders input {
  width: 230px;
  line-height: 2.5;
  border: 1px solid #ccc;
  padding-right: .8rem;
  border-radius: 4px;
  margin-right: 35px;
}

.leaflet-routing-geocoder::before {
  color: #FF5630;
  text-align: center;
  position: absolute;
  display: block;
  width: 16px;
  height: 41px;
  right: 10px;
  top: 0px;
}

.leaflet-routing-geocoder:nth-child(1)::before {
  content: url('../images/icons/start-dot.png');
}

.leaflet-routing-geocoder:nth-child(2)::before {
  content: url('../images/icons/end-dot.png');
}

.leaflet-routing-geocoder:nth-child(3)::before {
  content: url('../images/icons/end-dot.png');
}

.leaflet-routing-geocoder.geocoder-dot::before {
  content: url('../images/icons/mid-dot.png');
}

.leaflet-routing-geocoders button {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  margin: 0;
  float: right;
  cursor: pointer;
  /* transition: background-color 0.2s ease; */
  color: #FF5630;
  font-size: 17px;
  padding: 2px 9px !important
}

#map>div.leaflet-control-container>div.leaflet-top.leaflet-right>div.leaflet-routing-container.leaflet-bar.leaflet-routing-collapsible.leaflet-control>div.leaflet-routing-geocoders>button.leaflet-routing-add-waypoint {
  padding: 2px 10px !important;
}

div.leaflet-routing-geocoders>button.leaflet-routing-add-waypoint {
  margin-right: 35px;
}

.leaflet-routing-geocoders button:hover {
  color: #FF5630;

}

.leaflet-routing-geocoders button:focus {
  outline: none;
}

/* .leaflet-routing-add-waypoint{
    background-image: url('/assets/new_template/images/icons/plus.svg');
} */
.leaflet-routing-add-waypoint:after {
  content: '+';
  font-family: "IRANSans";
}

/* .leaflet-routing-add-waypoint:hover {
    color: #ffffff;
    background-color: #FF5630;
    border: 1px solid #FF5630;

} */
#map>div.leaflet-control-container>div.leaflet-top.leaflet-right>div.leaflet-routing-container.leaflet-bar.leaflet-routing-collapsible.leaflet-control>div.leaflet-routing-geocoders>button.leaflet-routing-add-waypoint:hover {
  color: #ffffff;
  background-color: #FF5630;
  border: 1px solid #FF5630;
}

.showhidebuttonclass:after {
  /* font-weight: bold; */
  /* content: '\21B2'; */
  font-family: "IRANSans";
  content: "جزئیات";
  font-size: 12px;
}

.leaflet-routing-reverse-waypoints:after {
  font-weight: normal;
  content: '\21c5';
  font-family: "IRANSans";
}

#map>div.leaflet-control-container>div.leaflet-top.leaflet-right>div.leaflet-routing-container.leaflet-bar.leaflet-routing-collapsible.leaflet-control>div.leaflet-routing-geocoders>button.leaflet-routing-reverse-waypoints:hover {
  color: #ffffff;
  background-color: #FF5630;
  border: 1px solid #FF5630;
}

.leaflet-routing-geocoders input,
.leaflet-routing-remove-waypoint,
.leaflet-routing-geocoder {
  position: relative;
}

.leaflet-routing-geocoder-result {
  /* font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; */
  font-size: 10px;
  font-family: "IRANSans";
  position: absolute;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 1000;
  /* Arbitrary, but try to be above "most" things. */
}

#map>div.leaflet-control-container>div.leaflet-top.leaflet-right>div.leaflet-routing-container.leaflet-bar.leaflet-routing-collapsible.leaflet-control>div.leaflet-routing-geocoders>button.showhidebuttonclass:hover {
  color: #ffffff;
  background-color: #FF5630;
  border: 1px solid #FF5630;
}

.leaflet-routing-geocoder-result table {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
  background-color: white;
  cursor: pointer;
  /* font-family: 'IRANSansNumber'; */
}

/* .leaflet-routing-geocoder-result table tr {
    font-family: 'IRANSansNumber';

} */

.leaflet-routing-geocoder-result table tr td {
  padding: 5px;
  margin: 10px;
  line-height: 1.5;
  direction: rtl;
  /* border-bottom: 1px solid #AFAFAF; */
  font-family: 'IRANSansNumber' !important;
}

#map>div.leaflet-control-container>div.leaflet-top.leaflet-right>div.leaflet-routing-container.leaflet-bar.leaflet-routing-collapsible.leaflet-control>div.leaflet-routing-alternatives-container>div>table>tbody>tr>td {
  font-family: 'IRANSansNumber' !important;


}

.leaflet-routing-geocoder-result-open {
  max-height: 800px;
}

.leaflet-routing-geocoder-selected,
.leaflet-routing-geocoder-result tr:hover {
  background-color: #eee;
}

.leaflet-routing-geocoder-no-results {
  font-style: italic;
  color: #888;
}

.leaflet-routing-remove-waypoint {
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  display: none;
}

.leaflet-routing-remove-waypoint:after {
  position: absolute;
  display: block;
  width: 15px;
  height: 1px;
  z-index: 1;
  right: 1px;
  top: 11px;
  bottom: 0;
  margin: auto;
  padding: 2px;
  font-size: 18px;
  font-weight: bold;
  content: "\00d7";
  text-align: center;
  cursor: pointer;
  color: #FF5630;
  background: white;
  padding-bottom: 16px;
  margin-top: -16px;
  padding-right: 4px;
  line-height: 1;
}

.leaflet-routing-remove-waypoint:hover {
  color: black;
}

.leaflet-routing-instruction-distance {
  width: 48px;
}

.leaflet-routing-collapse-btn {
  position: absolute;
  top: 0;
  left: 14px;
  font-size: 20px;
  color: #000;
  margin-top: 5px;
}

.leaflet-routing-collapse-btn::before {
  content: '\00d7';
  color: #000;
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn::before {
  content: '';
  color: #000;
}

.leaflet-routing-geocoders::before {
  /* content: 'مسیریابی   \A\2688 لطفا مبدا و مقصد خود را انتخاب کنید.';   */
  content: '';
  font-weight: bold;
  font-size: 14px;
  white-space: pre;
  font-family: "IRANSans";
  display: inline-block;
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
  position: relative;
  left: -9px;
  top: 0px;
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../images/routing-icon.png);
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn:after {
  content: none;
}

.leaflet-top .leaflet-routing-container.leaflet-routing-container-hide {
  margin-top: 10px !important;
}

.leaflet-right .leaflet-routing-container.leaflet-routing-container-hide {
  top: 65px;
}

.leaflet-bottom .leaflet-routing-container.leaflet-routing-container-hide {
  margin-bottom: 10px !important;
}

.leaflet-left .leaflet-routing-container.leaflet-routing-container-hide {
  margin-left: 10px !important;
}

/* END leaflet-routing-machine */

/* site.css */

code {
  background: none;
  border: none;
  border-radius: 0;
}

.map {
  width: 100%;
  height: 640px;
}

.hero {
  position: relative;
}

.hero-header {
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  text-align: center;
  margin-top: 32px;
}

.hero-heading a {
  color: inherit;
  text-decoration: none;
}

.leaflet-container input {
  margin-bottom: inherit;
}

.leaflet-container button {
  display: inherit;
  height: inherit;
  width: inherit;
  box-sizing: border-box;
  padding: 0 1rem;
  margin-left: .5rem;
  margin-top: .4rem;
  height: 30px;
}

.leaflet-container th,
.leaflet-container td {
  padding: inherit;
  border-bottom: inherit;
  font-family: "IRANSans" !important;
  font-size: 10px;
  border-bottom: 1px solid #AFAFAF;

}


.leaflet-container h2 {
  font-weight: bold;
  font-size: 11px;
  color: #000000;
  font-family: 'IRANSansNumber' !important;
  margin-right: 10px;
}

.leaflet-container h3 {
  font-size: 14px;
  color: #0FA601;
}

.leaflet-container h2,
.leaflet-container h3 {
  line-height: 2;
  letter-spacing: inherit;
  margin-top: inherit;
  margin-bottom: inherit;
  font-weight: inherit;
}


pre>code {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

.leaflet-routing-error h3 {
  font-size: 16px;
}

#osrm-error {
  position: fixed;
  top: 24px;
  left: 25%;
  right: 25%;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  z-index: 1001;
  display: none;
}

#osrm-error-close {
  position: absolute;
  top: 0px;
  right: 8px;
  font-size: 24px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

/* END site.css */

/* PUBLIC */
.leaflet-control-zoom {
  display: none;
}

/* POPUP */

/* LEAFLET STYLES */
.popUpBanner {
  display: inline;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-radius: 25px 25px 0 0;
}

.leaflet-popup-content {
  font-family: 'IRANSansNumber';
  text-align: right;
  width: 100%;
  margin: 10px;
}

.leaflet-pane.leaflet-popup-pane>div>a {
  left: 5px;
  top: 0;
  font-size: 18px;
  font-weight: normal;
}

.leaflet-popup-content-wrapper {
  border-radius: 5px;
}

/* LEAFLET STYLES */

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  margin-top: 75px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  opacity: .9;
  margin-left: 20px;
  border-radius: 7px;
  max-width: 300px;
  direction: rtl
}

.leaflet-touch .leaflet-bar a:last-child {
  border-radius: 0 0 25px 25px;
}

.leaflet-bar a,
.leaflet-bar a,
.leaflet-bar a:hover {
  opacity: .9;
  color: #0051CD;
}

.leaflet-popup-content-wrapper>div {
  line-height: 2;
}

.leaflet-popup-content {
  text-align: right;
  width: 100%;
  margin: 10px;
}

.leaflet-popup-content-wrapper {
  border-radius: 5px;
}

/*END LEAFLET STYLES */



/* POPUP STYLE */

.popup-marker {
  direction: rtl;
  font-family: 'IRANSansNumber';
  max-width: max-content;
}

.popup-marker .popupTitle {
  border-bottom: 1px solid #AFAFAF;
  margin: 5px 0;
  display: flex;
  direction: rtl;
  /* flex-wrap: nowrap; */
}

.popup-marker .popupTitle img {
  height: 16px;
  margin: 3px 15px 5px 10px;
}

.popup-marker .popupTitle .popupHeader {

  font-size: 12px;
  color: #0051CD;
  /* vertical-align: super; */
  white-space: nowrap;

}

.popupContent {
  display: flex;
  flex-wrap: wrap;
  direction: rtl;
  width: 100%;
}

.popupHeaderContent {
  padding: 10px;
  text-align: justify;
  display: inline;
}

.popupContent .popUpBox {
  width: 33%;
  width: 50px;
  height: auto;
  margin: 5px;
  padding: 2%;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.popupHeaderContent img {
  height: 20px;
  vertical-align: middle;
}

.popupContent .popUpBox span {
  color: #0051CD;
  display: block;
  font-size: 10px;
}

.popUpBoxContent {
  font-size: 10px;
  font-weight: bold;
}

.popupFooter {
  width: 90%;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: 10px;
  text-align: right;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.popupFooter span {
  color: #0051CD;
  display: block;
}

/* END	POPUP STYLE */
/* 1 */
.leaflet-popup-content-wrapper {
  opacity: .9;
}

.customtraffic .leaflet-popup-content-wrapper {
  width: 297px !important;
}

.customtraffic .popup-marker {
  width: 276px;
}

.customtraffic .popupContent .popUpBox {
  width: 128px !important;
}

/* 2 */
.customRoadOperation .leaflet-popup-content {
  width: 264px !important;
  margin-bottom: 0 !important;
}

.customRoadOperation .leaflet-popup-content-wrapper {
  width: 285px !important;
}

.customRoadOperation .leaflet-popup-content-wrapper .popupContent .popUpBox {
  width: 78px !important;
}

.customRoadOperation .leaflet-popup-content-wrapper .popupFooter {
  width: 97% !important;
  margin: 5px 0 0px 4px !important;
}

/* 3 */

.customRoadBlock .leaflet-popup-content {
  width: 184px !important;
  margin-bottom: 0 !important;
}

.customRoadBlock .leaflet-popup-content-wrapper {
  width: 201px !important;
}

.customRoadBlock .leaflet-popup-content-wrapper .popupContent .popUpBox {
  width: 82px !important;
}

.customRoadBlock .leaflet-popup-content-wrapper .popupFooter {
  width: 95% !important;
  /* margin: 5px 0 0px 4px !important; */
}


/* 4 */

.customEmdadFani .leaflet-popup-content-wrapper {
  width: 230px !important;
}

.customEmdadFani .leaflet-popup-content-wrapper .popupContent .popUpBox {
  width: 57px !important;
}

.customEmdadFani .leaflet-popup-content {
  width: 204px !important;
}


/* 5 */

.customWeather .leaflet-popup-content-wrapper .popupFooter {
  width: 94%;
  text-align: right;
  direction: ltr;
}

.customWeather .leaflet-popup-content-wrapper .popUpBoxContent {
  display: inline-block;
}

.customWeather .leaflet-popup-content-wrapper .popupFooter span {
  display: inline-block;
}

.customWeather .leaflet-popup-content {
  width: 184px !important;
}

.customWeather .leaflet-popup-content-wrapper {
  width: 204px !important;
}

.customWeather .leaflet-popup-content-wrapper .popupContent .popUpBox {
  width: 82px !important;
}

/* 6 */

.customgasStation .leaflet-popup-content {
  width: 150px !important;
  /* margin-bottom: 0 !important; */
}

.customgasStation .leaflet-popup-content-wrapper {
  width: 170px !important;
}

.customgasStation .leaflet-popup-content-wrapper .popupContent {
  width: 150px;
}

.customgasStation .leaflet-popup-content-wrapper .popupContent .popUpBox {
  width: 150px !important;
}

/* 7 */

.customComplex .leaflet-popup-content-wrapper {
  width: 321px !important;
}

.customComplex .leaflet-popup-content-wrapper .popupContent .popUpBox {
  width: 90px !important;
}

.customComplex .leaflet-popup-content {
  width: 300px !important;
}

/* 8 */
.customMosque .leaflet-popup-content-wrapper {
  width: 150px !important;
}

.customMosque .leaflet-popup-content {
  width: 130px !important;
}

/* 9 */
/* .customRoadAccident{

} */
.customRoadAccident .leaflet-popup-content {
  width: 264px !important;
}

.customRoadAccident .leaflet-popup-content-wrapper {
  width: 286px !important;
}

.customRoadAccident .leaflet-popup-content-wrapper .popupContent .popUpBox {
  width: 78px !important;
}

/* 10 */
.customTollhouse .leaflet-popup-content-wrapper {
  width: 200px !important;
}

.customTollhouse .leaflet-popup-content {
  width: 178px !important;
}

.customTollhouse .leaflet-popup-content-wrapper .popupContent .popUpBox {
  width: 78px !important;
  padding: 6px 0;
}

/* 11 */

.customHospital .leaflet-popup-content-wrapper {
  width: 170px !important;
}

.customHospital .leaflet-popup-content {
  width: 150px !important;
}

/* 12 */
.customRepair .leaflet-popup-content-wrapper {
  width: 140px !important;
}

.customRepair .leaflet-popup-content {
  width: 125px !important;
}

.customRepair .popupContent .popUpBox {
  padding: 5px 0;
}

/* End popup */

.customRouteEstimate .leaflet-popup-content-wrapper>div {
  /* font-family: "IRANSans"; */
  font-family: 'IRANSansNumber';
  font-size: 10px;
  max-width: 300px;
  max-height: 150px;
  direction: rtl;
  line-height: 2;

}

.routingDetailsClass {
  position: relative;
}

.routeDetails {
  font-family: 'IRANSans';
  color: #000;
  padding: 0px 10px;
  border-radius: 3px;
  border: 1px solid #AFAFAF;
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 0px;
  font-size: 10px;
}

.routeDetails:hover {
  background-color: #FF5630;
  border: 1px solid #FF5630;
  color: #ffffff;
}

.tripDetails {
  font-family: 'IRANSans';
  /* color: #000; */
  color: #FF5630;
}

.activeTable {
  display: block !important;
}

.routingDetailsClass .routeHr {
  width: 260px;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

.routeDetailsNumber {
  font-size: 12px !important;
}

#map>div.leaflet-control-container>div.leaflet-top.leaflet-right>div.leaflet-routing-container.leaflet-bar.leaflet-routing-collapsible.leaflet-control>div.leaflet-routing-alternatives-container>div:nth-child(1)>h2>span.routeDetailsNumber::before {
  content: " 1 ";
  font-size: 12px !important;
  font-family: 'IRANSansNumber';
  color: #000;
}

#map>div.leaflet-control-container>div.leaflet-top.leaflet-right>div.leaflet-routing-container.leaflet-bar.leaflet-routing-collapsible.leaflet-control>div.leaflet-routing-alternatives-container>div:nth-child(2)>h2>span.routeDetailsNumber::before {
  content: " 2 ";
  font-size: 12px !important;
  font-family: 'IRANSansNumber';
  color: #000;
}

#map>div.leaflet-control-container>div.leaflet-top.leaflet-right>div.leaflet-routing-container.leaflet-bar.leaflet-routing-collapsible.leaflet-control>div.leaflet-routing-alternatives-container>div:nth-child(2)::before {
  content: "";
  border-top: 1px dashed #AFAFAF;
  width: 90%;
  display: block;
  margin: -5px auto 6px auto;
}



.tripTimePopUp .leaflet-popup-content-wrapper {
  width: 218px !important;
}

.tripTimePopUp .leaflet-popup-content {
  width: 193px !important;
  margin: 11px !important;
}

.tripTimePopUp .popupContent .popUpBox {
  padding: 5px 0 !important;
  width: 85px !important;
}

.tripTimePopUp .popup-marker .popupTitle img {
  height: 16px;
  margin: 3px 0 5px 10px
}

.tripTimePopUp .leaflet-pane.leaflet-map-pane>div.leaflet-pane.leaflet-popup-pane>div>a {
  left: 6px !important;
  top: 3px !important;
}
