/*Reset Stylesheet*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  text-align: unset;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  line-height: normal;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* IRANSansFont */

@font-face {
  font-family: 'IRANSans';
  src: url(../fonts/IRANSans/IRANSansWeb.eot) format('eot'), url(../fonts/IRANSans/IRANSansWeb.ttf) format('ttf'), url(../fonts/IRANSans/IRANSansWeb.woff);
}

/* IRANSansNumberFont */

@font-face {
  font-family: 'IRANSansNumber';
  src: url(../fonts/IRANSans/IRANSansWebFaNum.eot) format('eot'), url(../fonts/IRANSans/IRANSansWebFaNum.ttf) format('ttf'), url(../fonts/IRANSans/IRANSansWebFaNum.woff) format('woff')
}

/* PUBLIC */

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'IRANSansNumber';
  line-height: 1;
}

a {
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.map {
  width: 100%;
  height: 100vh !important;
  z-index: 10;
}

/* TOP MENU */

.menu_top {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: #00669F;
  z-index: 13;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 58px;
}

.parent_menu_vertical {
  position: absolute;
  bottom: 80px;
  z-index: 11;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.menu_top button {
  background-color: #00669F;
  border: none;
  font-family: 'IRANSans';
  float: right;
}

.menu_top button:focus {
  outline: none;
}

.menu_top button:hover {
  cursor: pointer;
}

.menu_top a {
  float: right;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  text-align: center;
  padding: 6px 10px 8px 0;
  text-decoration: none;
  font-size: 10px;
}

#navbarmenu_top>div:nth-child(2)>a {
  padding-right: 0;
}

#navbarmenu_top>div:nth-child(1)>a {
  padding-left: 0;
}

/* .menu_top a img,.responsiveTopMenuBtn img {
	display: block;
	width: 15px;
	height: 15px;
	margin: 0 auto 5px auto;
} */

.fisheye-menu.go-down button {
  width: 45px;
  transition: 0.1s;
}

.fisheye-menu button {
  display: inline-block;
  width: 45px;
}

.responsiveTopMenuBtn {
  float: right;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 25px;
  text-decoration: none;
  font-size: 12px;
}

.menu_top button img {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto 5px auto;
}

.menu_top .icon {
  display: none;
  z-index: 13;
  font-size: 10px;
  padding: 20px;
  z-index: 11;
}

.menu_top button.topMenuActiveBtn {
  background-color: #005f94;
  border-bottom: 2px solid white;
}

.dropdown-141 {
  float: right;
  overflow: hidden;
  direction: rtl;
}

.dropdown-141 .dropbtn {
  font-size: 12px;
  border: none;
  outline: none;
  color: white;
  padding: 8px 25px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  direction: rtl;
  cursor: pointer;
}

.dropdown-141 .dropbtn img {
  display: block;
  width: 15px;
  height: auto;
  margin: 0px auto 9px auto;
}

.dropdown-141 .dropbtn span {
  margin-top: 3px;
  font-size: 12px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 12;
  position: fixed;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 12px;
}

.dropdown-content a:nth-child(1) {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #D0D0D0;
  font-weight: bold;
  color: #000000;
}

.dropdown-content a:nth-last-child(1) {
  border-radius: 0 0 5px 5px;
}

.menu_top a:hover,
.dropdown-141:hover .dropbtn,
.menu_top button:hover {
  color: white;
}

.dropdown-content a {
  color: #404040;
}

.dropdown-content a:hover {
  background-color: #cecece;
  color: #000;
}

.dropdown-141:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  top: 25px;
  border-radius: 5px;
}

.rahdariLogo {
  display: initial;
  height: 20px;
}

.rahdariLogo img {
  float: right !important;
  width: 40px !important;
  height: auto !important;
}

#navbarmenu_top>div:nth-child(1)>a>img {
  margin-left: 20px;
}

#navbarmenu_top>div:nth-child(3) {
  margin-left: 20px;
  margin-right: 5px;
  width: auto;
}

.clearfix {
  clear: both;
}

/* END  TOP MENU */

/* VERTICAL MENU */

.ResponsiveVerticalMenu {
  width: 40px;
  height: 40px;
  z-index: 12;
  background: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 7px;
  top: 75px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  right: 20px;
  position: absolute;
  display: none;
}

.ResponsiveVerticalMenu:focus {
  outline: none;
}

.ResponsiveVerticalMenu img {
  width: 23px;
  height: 23px;
  display: inline-block;
  margin-top: 4px;
}

.menu_vertical {
  display: flex;
  justify-content: center;
  direction: rtl;
  height: 45px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  /* transition: .2s width; */
}

.menu_vertical>.menu-vertical-close {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.menu_vertical>.menu-vertical-close img {
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
}

.menu_vertical button {
  width: 45px;
  height: 45px;
  background-color: #fff;
  opacity: .9;
  color: #0051CD;
  display: inline-block;
  border: none;
  padding: 3px 7px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  outline: none;
  border-radius: 25px;
}

/* TOOLTIP */

.tooltip-menu {
  font-family: 'IRANSans';
  position: relative;
  /* display: inline-block; */
  z-index: 12;
  vertical-align: middle;
  padding: 3px;
}

.tooltip-menu img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.verticalMenuText {
  display: none;
  color: #000000;
  font-size: 12px;
}

.activeLayer {
  background-color: #0051CD !important;
  border-radius: 50%;
}

.tooltip-menu .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: #FF5630;
  opacity: .8;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 8px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

/* .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  opacity: .8;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #FF5630 transparent transparent transparent;
} */

.tooltip-menu:hover .tooltiptext {
  visibility: visible;
}

/* END VERTICAL MENU */

.routinghover:hover,
.hoverCamera:hover,
.hoveronline:hover,
.hovermapgerafic:hover,
.hovercoridor:hover,
.hovertriptime:hover,
.hoverroadweather:hover {
  border-bottom: 2px solid #005f94;
  background-color: #005f94;
}

/* FOOTER */

.menu_bottom {
  height: 45px;
  width: 100%;
  background-color: #FFFFFF;
  bottom: 15px;
  z-index: 13;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  background-image: url(../images/icons/menu_bottomBackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40% 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 13px;
}

.menu_bottom .footerLinks {
  padding: 15px 2%;
  direction: rtl;
  z-index: 14;
  font-size: 12px;
  width: 70%;
}

.menu_bottom .footerLinks a {
  margin: 10px;
  text-decoration: none;
  color: #000000;
}

.menu_bottom .footerLinks a:hover {
  color: #AFAFAF;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  padding: 0 2%;
  width: 35%;
}

.socialMedia img {
  padding: 10px 0;
  height: 40px;
  width: 30px;
}

.footer_licences {
  direction: rtl;
  text-align: center;
  font-size: 10px;
  font-family: 'IRANSans';
  color: #6A6A6A;
  background-color: #E1E1E8;
  width: 100%;
  height: 20px;
  z-index: 13;
  position: fixed;
  bottom: 0;
  padding: 5px 0 0 0;
}

.footer_licences .witel {
  color: #0051CD;
  font-weight: bold;
}

.witel:hover {
  color: #6A6A6A;
}

.witelContent {
  padding-left: 5px;
  border-left: 1px solid #6A6A6A;
}

.witelContentYear {
  font-family: 'IRANSansNumber';
  padding-right: 5px;
}

/* END FOOTER */

/* province_camera PAGE */

.form-map svg .sea path,
.form-map svg .lake path {
  fill: #6caed8;
}

.form-map svg #iran path {
  fill: #d1d1d1;
}

.form-map svg .border path,
.form-map svg .island path {
  fill: #fff;
}

.form-map {
  position: relative;
}

.form-map>.tooltiptextmap {
  display: none;
  background-color: #333;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0 5px;
  font-size: 13px;
  line-height: 26px;
  border-radius: 2px;
  position: absolute;
  opacity: .8;
}

.provincialcamera {
  top: 75px;
  background-color: #ffffff;
  z-index: 12;
  position: absolute;
  padding: 35px;
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  width: 35%;
  max-height: 75%;
  transition-duration: .5s;
  transition-property: left;
  opacity: .9;
}

.closeProvincialcamera,
.closeProvincialtraffic,
.closeProvincialcoridor,
.closeonlinetrafic,
.closeTripTime,
.closeRouting {
  width: 25px;
  height: 25px;
  z-index: 12;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 7px;
  top: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  left: 10px;
  position: absolute;
  opacity: .9;
  cursor: pointer;
}

.closeProvincialcamera,
.closeProvincialtraffic,
.closeProvincialcoridor,
.closeonlinetrafic,
.closeTripTime,
.closeRouting {
  display: inline-block;
}

.closeProvincialcamera:focus,
.closeProvincialtraffic:focus,
.closeonlinetrafic:focus,
.closeProvincialcoridor:focus,
.closeTripTime:focus .closeRouting:focus {
  outline: none;
}

.closeProvincialcamera::after,
.closeProvincialtraffic::after,
.closeonlinetrafic::after,
.closeProvincialcoridor::after,
.closeTripTime::after,
.closeRouting::after {
  font-size: 20px;
  content: "\00d7";
  color: #000;
}

.closeProvincialcamera,
.closeProvincialtraffic,
.closeProvincialcoridor,
.closeonlinetrafic,
.closeTripTime,
.closeRouting {
  display: inline-block;
  box-shadow: none;
}

.form-provincial {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.form-provincial h5 {
  color: #172B4D;
  font-size: 13px;
}

.form-provincial span {
  direction: rtl;
  color: #42526E;
  font-size: 10px;
  margin: 15px 0;
}

.form-provincial span::before {
  content: "• ";
  font-size: 24px;
  position: relative;
  top: 7px;
  color: #FF5630;
}

.dropdownostan {
  width: 56%;
  direction: rtl;
  border-radius: 2px;
  display: inline-block;
  height: 32px;
  border: 1px solid #dadada;
  color: #848484;
  background: #FFFFFF;
  padding-right: 8px;
  vertical-align: middle;
  margin: 0px 5px 5px 0;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  direction: rtl;
  outline: none;
  font-size: 10px;
  font-family: "IRANSans";
  width: 185px;
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  float: none;
  padding: 6px 12px;
}

.dropdownostan::-webkit-scrollbar {
  width: 5px;
}

.dropdownostan::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dropdownostan::-webkit-scrollbar-thumb {
  background: #D0D0D0;
  border-radius: 7px;
}

.dropdownostan::-webkit-scrollbar-thumb:hover {
  background: #D0D0D0;
  border-radius: 7px;
}

.provincialcamera>.form-map {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.provincialcamera>.form-map>svg {
  margin: auto;
  width: 80%;
  height: auto;
}

.provincialcamera>.form-map>svg #iran>path {
  cursor: pointer;
}

.provincialcamera>.form-map>svg #iran>path:hover {
  fill: #FF5630;
}

.provincialcamera>.form-map>svg #iran>.map-selected {
  fill: #FF5630;
}

.provincialcamera-modal {
  display: none;
  text-align: right;
  direction: rtl;
  position: fixed;
  z-index: 100;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.provincialcamera-modal>.camera-overlay {
  z-index: 50;
  display: block;
  position: absolute;
  background: transparent;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.provincialcamera-modal>.modal-content {
  background-color: #ffffff;
  border-radius: 7px;
  margin: auto;
  padding: 20px 1.5% 1px 1.5%;
  border: 1px solid #888;
  width: max-content;
  position: relative;
  z-index: 51;
}

.provincialcamera-modal>.modal-content>.close {
  position: absolute;
  text-align: center;
  top: 3px;
  right: 5px;
  color: #979797;
}

.provincialcamera-modal>.modal-content>.close::before {
  content: '\00d7';
  font-size: 22px;
  position: absolute;
}

.provincialcamera-modal>.modal-content>.close:hover,
.provincialcamera-modal>.modal-content>.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.provincialcamera-modal>.modal-content>.slideshow .mySlides {
  display: none;
}

.provincialcamera-modal>.modal-content>.slideshow img {
  /* vertical-align: middle;
    width: 100%;
    height: auto;
    opacity: 1;
    max-height: 500px;
	max-width: 100%; */
  vertical-align: middle;
  width: auto;
  height: auto;
  opacity: 1;
  max-height: 500px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}

.provincialcamera-modal>.modal-content>.slideshow .slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.provincialcamera-modal>.modal-content>.slideshow .prev,
.provincialcamera-modal>.modal-content>.slideshow .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.provincialcamera-modal>.modal-content>.slideshow .next {
  right: 0;
  border-radius: 0px 3px 3px 0;
}

.provincialcamera-modal>.modal-content>.slideshow .prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.provincialcamera-modal>.modal-content>.slideshow .prev:hover,
.provincialcamera-modal>.modal-content>.slideshow .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.provincialcamera-modal>.modal-content>.slideshow .text {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  position: absolute;
  bottom: -36px;
  width: 100%;
  text-align: center;
  font-family: 'IRANSansNumber';
  font-size: 12px;
}

.provincialcamera-modal>.modal-content>.slideshow .numbertext {
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  border-radius: 3px;
}

.provincialcamera-modal>.modal-content>.slideshow #slideshow-dot {
  margin-top: 35px;
  margin-bottom: 10px;
  direction: ltr;
}

.provincialcamera-modal>.modal-content>.slideshow .dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.provincialcamera-modal>.modal-content>.slideshow .active,
.provincialcamera-modal>.modal-content>.slideshow .dot:hover {
  background-color: #717171;
}

.provincialcamera-modal>.modal-content>.slideshow .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* start onlinetraffic */

.onlinetraffic {
  top: 75px;
  background-color: #ffffff;
  z-index: 12;
  position: absolute;
  padding: 35px;
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  width: 35%;
  max-height: 75%;
  transition-duration: .5s;
  transition-property: left;
}

/* .closeonlinetrafic {
	width: 25px;
    height: 25px;
    z-index: 12;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 7px;
    top: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    left: 10px;
    position: absolute;
    display: none;
    opacity: .9;
} */

.form-traficonline {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.form-traficonline h5 {
  color: #172B4D;
  font-size: 13px;
}

.form-traficonline span {
  direction: rtl;
  color: #42526E;
  font-size: 10px;
  margin: 15px 0;
}

.form-traficonline span::before {
  content: "• ";
  font-size: 24px;
  position: relative;
  top: 7px;
  color: #FF5630;
}

.onlinetraffic .dropdownostan {
  width: 56%;
  direction: rtl;
  border-radius: 2px;
  display: inline-block;
  height: 32px;
  border: 1px solid #dadada;
  color: #848484;
  background: #FFFFFF;
  padding-right: 8px;
  vertical-align: middle;
  margin: 0px 5px 5px 0;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  direction: rtl;
  outline: none;
  font-size: 10px;
  font-family: "IRANSans";
  width: 100%;
  width: 185px;
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  float: none;
  padding: 6px 12px;
}

.onlinetraffic .dropdownostan::-webkit-scrollbar {
  width: 5px;
}

.onlinetraffic .dropdownostan::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.onlinetraffic .dropdownostan::-webkit-scrollbar-thumb {
  background: #D0D0D0;
  border-radius: 7px;
}

.onlinetraffic .dropdownostan::-webkit-scrollbar-thumb:hover {
  background: #D0D0D0;
  border-radius: 7px;
}

.onlinetraffic>.form-map {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.onlinetraffic>.form-map>svg {
  margin: auto;
  width: 80%;
  height: auto;
}

.onlinetraffic>.form-map>svg #iran>path {
  cursor: pointer;
}

.onlinetraffic>.form-map>svg #iran>path:hover {
  fill: #FF5630;
}

.onlinetraffic>.form-map>svg #iran>.map-selected {
  fill: #FF5630;
}

/* end onlinetraffic */

/* start traffic box */

.traffic-box {
  top: 75px;
  background-color: #ffffff;
  z-index: 12;
  position: absolute;
  padding: 35px;
  width: 300px;
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  width: 35%;
  max-height: 75%;
  transition-duration: .5s;
  transition-property: left;
  opacity: .9;
}

.form-traffic-box {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.form-traffic-box h5 {
  color: #172B4D;
  font-size: 13px;
}

.form-traffic-box span {
  direction: rtl;
  color: #42526E;
  font-size: 10px;
  margin: 15px 0;
}

.form-traffic-box span::before {
  content: "• ";
  font-size: 24px;
  position: relative;
  top: 7px;
  color: #FF5630;
}

.traffic-box .dropdownostan {
  width: 56%;
  direction: rtl;
  border-radius: 2px;
  display: inline-block;
  height: 32px;
  border: 1px solid #dadada;
  color: #848484;
  background: #FFFFFF;
  padding-right: 8px;
  vertical-align: middle;
  margin: 0px 5px 5px 0;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  direction: rtl;
  outline: none;
  font-size: 10px;
  font-family: "IRANSans";
  width: 100%;
  width: 185px;
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  float: none;
  padding: 6px 12px;
}

.traffic-box .dropdownostan::-webkit-scrollbar {
  width: 5px;
}

.traffic-box .dropdownostan::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.traffic-box .dropdownostan::-webkit-scrollbar-thumb {
  background: #D0D0D0;
  border-radius: 7px;
}

.traffic-box .dropdownostan::-webkit-scrollbar-thumb:hover {
  background: #D0D0D0;
  border-radius: 7px;
}

.traffic-box>.form-map {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.traffic-box>.form-map>svg {
  margin: auto;
  width: 80%;
  height: auto;
}

.traffic-box>.form-map>svg #iran>path {
  cursor: pointer;
}

.traffic-box>.form-map>svg #iran>path:hover {
  fill: #FF5630;
}

.traffic-box>.form-map>svg #iran>.map-selected {
  fill: #FF5630;
}

.trafficphoto-modal {
  display: none;
  text-align: right;
  direction: rtl;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.trafficphoto-modal>.traffic-overlay {
  z-index: 50;
  display: block;
  position: absolute;
  background: transparent;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.trafficphoto-modal>.modal-content {
  background-color: #ffffff;
  border-radius: 7px;
  margin: auto;
  padding: 25px;
  border: 1px solid #888;
  width: 60%;
  position: relative;
  top: 4%;
  z-index: 51;
}

.trafficphoto-modal>.modal-content>.close {
  position: absolute;
  text-align: center;
  width: 35px;
  height: 35px;
  top: 0px;
  right: 0px;
  color: #979797;
}

.trafficphoto-modal>.modal-content>.close::before {
  content: '\00d7';
  font-size: 22px;
  position: absolute;
  top: 7px;
  right: 12px;
}

.trafficphoto-modal>.modal-content>.close:hover,
.trafficphoto-modal>.modal-content>.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.trafficphoto-modal>.modal-content>.photo img {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  opacity: 1;
}

/* END  province_camera PAGE */

/* coridor PAGE */

.maincoridr {
  top: 75px;
  opacity: .9;
  background-color: #ffffff;
  z-index: 12;
  position: absolute;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  width: 35%;
  max-height: 75%;
  transition-duration: .5s;
  transition-property: left;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
}

.title-coridor {
  direction: rtl;
  margin-right: 5%;
  font-size: 13px
}

.form-coridor {
  display: flex;
  flex-flow: column;
}

.box-coridor {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 1rem auto 1rem auto;
}

.testcor {
  width: 100%;
  height: 46px;
  background-color: #ffffff;
  border: 1px solid #CECECE;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
  direction: rtl;
  font-size: 13px;
  color: #000000;
  display: flex;
  flex-direction: row;
  padding-right: 3%;
  padding-left: 3%;
}

.testcor:hover {
  background-color: #FF5630;
  color: white;
  border: 1px solid #FF5630;
  cursor: pointer;
}

/* .testcor span:hover {
	color: white;

} */

.coridorbox :focus {
  background-color: #FF5630;
}

.coridorbox :active {
  background-color: #FF5630;
}

.testcor span {
  margin-top: 1rem;
  font-size: 10px;
}

.span1 {
  width: 36%;
  text-align: start;
}

.testcor img {
  width: 8%;
  height: auto;
  padding-left: 1%;
}

.colordot {
  color: #CECECE;
  width: fit-content;
}

.span2 {
  width: 35%;
  text-align: center;
}

/* #coridorToggleBox {
    color: #FFFFFF;
    text-align: center;
    padding: 8px 2%;
    text-decoration: none;
    font-size: 12px;
} */

.maincoridr::-webkit-scrollbar {
  width: 5px;
}

/* Track */

.maincoridr::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* END coridor PAGE */

/* Spinner style */

.spinner:not([hidden]) {
  position: absolute;
  top: 100px;
  left: 10px;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner#layer-spinner:not([hidden]) {
  position: absolute;
  top: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 110;
  background-color: rgba(0, 0, 0, .2);
}

.spinner::after {
  content: "";
  width: 40px;
  height: 40px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
  z-index: 100;
}

.filesSpinner:not([hidden]) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filesSpinner::after {
  content: "";
  width: 40px;
  height: 40px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.leaflet-routing-container.leaflet-routing-container-hide .leaflet-routing-alternatives-container {
  display: none;
}

.leaflet-routing-container.leaflet-routing-container-hide {
  background: rgba(255, 255, 255, .7);
}

.emergencyNum {
  top: 75px;
  opacity: .9;
  background-color: #ffffff;
  z-index: 12;
  position: absolute;
  padding: 16px 30px 30px 30px;
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  width: 35%;
  max-height: 80%;
  transition-duration: .5s;
  transition-property: left;
  direction: rtl;
}

.form-emergnecynum {
  position: relative;
  display: inline-block;
  font-size: 13px;
  width: 100%;
}

.form-emergnecynum h5 {
  color: #172B4D;
  font-weight: bold;
  font-weight: bold;
}

.titleemergency {
  display: flex;
  flex-flow: row;
}

.exitemergency {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  opacity: .9;
}

.exitemergency::before {
  content: '\00d7';
}

.phoneContent ul {
  list-style-type: none;
  border: 1px solid #FF5630;
  border-radius: 3px;
  padding: 5px 15px;
  line-height: 2;
  direction: rtl;
  margin-top: 15px;
  box-sizing: content-box;
}

.phoneContent ul li {
  display: flex;
  flex-flow: row;
  font-size: 13px;
  border-bottom: 1px dashed #AFAFAF;
  padding: 0 5px;
}

.phoneContent ul li:hover {
  background-color: #d8d8d8;
}

.phoneContent ul li:last-child {
  border-bottom: none;
}

.phoneContent ul li span:nth-child(1) {
  flex: auto;
}

.relatedWebsites {
  top: 75px;
  left: -30%;
  opacity: .9;
  background-color: #ffffff;
  z-index: 12;
  position: absolute;
  padding: 16px 30px 30px 30px;
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  width: 25%;
  max-height: 80%;
  transition-duration: .5s;
  transition-property: left;
  direction: rtl;
}

.form-relatedwebsites {
  position: relative;
  display: inline-block;
  font-size: 13px;
  width: 100%;
}

.form-relatedwebsites h5 {
  color: #172B4D;
  font-weight: bold;
  font-weight: bold;
}

.exitewebsites {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  opacity: .9;
}

.exitewebsites::before {
  content: '\00d7';
}

.websitesContent ul {
  list-style-type: none;
  border: 1px solid #FF5630;
  border-radius: 3px;
  padding: 5px 15px;
  line-height: 2;
  direction: rtl;
  margin-top: 15px;
  box-sizing: content-box;
}

.websitesContent ul li {
  font-size: 13px;
  border-bottom: 1px dashed #AFAFAF;
  padding: 10px 5px;
}

.websitesContent ul li:hover {
  background-color: #d8d8d8;
}

.websitesContent ul li:last-child {
  border-bottom: none;
}

.websitesContent ul li>a {
  text-decoration: none;
  color: #000;
}

.other-btn-menu>img {
  transform: rotate(90deg);
}

/* Routing Box */

.routing-icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: .3rem;
  display: none;
  z-index: 10;
  position: absolute;
  top: 75px;
  left: 20px;
}

.routing-icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
}

.routing-box {
  top: 75px;
  left: 20px;
  opacity: .9;
  background-color: #ffffff;
  z-index: 12;
  position: absolute;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  max-width: 300px;
  max-height: 40%;
  transition-duration: .5s;
  transition-property: left;
  direction: rtl;
}

.routing-input-container {
  margin: 1rem 0 0 0;
  position: relative;
  display: inline-block;
}

.origin-place {
  margin-bottom: 1rem;
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 12px;
}

.destination-place {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 12px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 37%;
  left: 0;
  right: 0;
}

.autocomplete-items-dest {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.autocomplete-items-dest div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items-dest div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active-dest {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#route-button {
  margin-top: 1rem;
  float: left;
}

.routing-options {
  margin-top: 1rem;
}

.reverse-route-button {
  width: 33px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  float: right;
  cursor: pointer;
  color: #FF5630;
  font-size: 17px;
  padding: 2px 9px !important;
}

.reverse-route-button:after {
  font-weight: normal;
  content: '\21c5';
  font-family: "IRANSans";
}

.add-route-button {
  width: 33px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  float: right;
  cursor: pointer;
  color: #FF5630;
  font-size: 17px;
  padding: 2px 9px !important;
  margin-right: 1rem;
}

.add-route-button:after {
  content: '+';
  font-family: "IRANSans";
}

.route-details {
  padding: 0 1rem;
  margin-right: 1rem;
  height: 33px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  float: right;
  cursor: pointer;
  color: #FF5630;
}

.route-details:after {
  font-family: "IRANSans";
  content: "جزئیات";
  font-size: 12px;
  font-weight: bold;
}

.route-detail-container {
  position: absolute;
  top: 271px;
  left: 20px;
  opacity: .9;
  background-color: #ffffff;
  z-index: 12;
  /* padding: 15px; */
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  width: 300px;
  max-height: 47%;
  transition-duration: .5s;
  transition-property: left;
  direction: rtl;
}

.route-detail-box {
  max-height: 220px;
  overflow-y: auto;
}

/* width */
.route-detail-box::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.route-detail-box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.route-detail-box::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
.route-detail-box::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.routingDetailsClass {
  position: relative;
  font-size: 11px;
  color: #000000;
  font-family: 'IRANSansNumber' !important;
  margin-right: 10px;
  line-height: 2;
  letter-spacing: inherit;
  margin-top: inherit;
  margin-bottom: inherit;
  font-weight: inherit;
}

.routing-detail-instructions {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.routing-detail-instructions tbody tr {
  padding: 7px 0px;
}

.routing-detail-instructions tbody tr td {
  padding: inherit;
  font-family: "IRANSansNumber" !important;
  font-size: 10px;
  border-bottom: 1px solid #AFAFAF;
}

/* End of Routing Box */

/* Switch TileLayer */

.switch-tile-container {
  position: absolute;
  bottom: 80px;
  left: 20px;
  background-color: #ffffff;
  z-index: 12;
  width: 45px;
  height: 45px;
  border-radius: .2rem;
  cursor: pointer;
}

/* End of switch tile-layer */

/* Trip Time */
.tripTime {
  left: -35%;
  top: 75px;
  opacity: .9;
  background-color: #ffffff;
  z-index: 12;
  position: absolute;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  width: 35%;
  height: 78%;
  transition-duration: .5s;
  transition-property: left;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
}

.tripTime::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.tripTime::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.form-triptime {
  display: flex;
  flex-flow: column;
}

.box-triptime {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 1rem auto 1rem auto;
}

.title-triptime {
  direction: rtl;
  margin-right: 5%;
  font-size: 13px
}

.test-tr {
  width: 100%;
  height: 46px;
  background-color: #ffffff;
  border: 1px solid #CECECE;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
  direction: rtl;
  font-size: 13px;
  color: #000000;
  display: flex;
  flex-direction: row;
  padding-right: 3%;
  padding-left: 3%;
}

.test-tr:hover {
  background-color: #FF5630;
  color: white;
  border: 1px solid #FF5630;
  cursor: pointer;
}

.test-tr span {
  margin-top: 1rem;
  font-size: 10px;
}


.test-tr img {
  width: 8%;
  height: auto;
  padding-left: 1%;
}

/* End Trip Time */

.routeDetailsNumber::after>:nth-child(1) {
  content: '1';
}

.routeDetailsNumber::after>:nth-child(2) {
  content: '2';
}

#routingButton {
  position: absolute;
  top: 70px;
  left: 25px;
  z-index: 1010;
  cursor: pointer;
  background-color: #fff;
  padding: 5px;
  border-radius: 0.2rem;
}

/* Modal */

.modal-header {
  direction: rtl;
}

.modal-header img {
  width: 28px;
  margin-left: 0.5rem;
}

.modal-title {
  font-size: 20px;
}

.modal-footer {
  /* direction: rtl; */
  display: none;
}

.modal-body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  direction: rtl;
  margin-bottom: 8px;
}

.modal-header .close,
.modal-header .mailbox-attachment-close {
  margin: -1rem auto -1rem -1rem;
}

.modal-body .report-item-box {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  padding: 15px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  cursor: pointer;
}

.modal-body .report-item-box:hover {
  background-color: rgba(0, 0, 0, .1);
}

.modal-body .report-item-box .report-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.modal-body .report-item-box .report-title p {
  font-size: 14px;
}

.modal-body .report-item-box .report-title .bus-text {
  margin-top: 1.5rem;
  line-height: 1.5;
}

.modal-body .report-item-box .report-title .problem-text {
  margin-top: 2rem;
  line-height: 1.5;
}

.passenger-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.plate-container {
  display: none;
}

.car-plate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.car-plate {
  /* margin-top: 1rem;
  margin-right: 1.5rem; */
  margin: 1rem auto 0 auto;
  display: inline-block;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
}

.car-plate img {
  width: 270px;
}

.car-plate-input1 {
  max-width: 50px;
  position: absolute;
  right: 187px;
  top: 7px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 36px;
  margin: 0 0 8px;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  text-align: center;
}

.car-plate-input2 {
  max-width: 80px;
  position: absolute;
  right: 70px;
  top: 7px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 36px;
  margin: 0 0 8px;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  text-align: center;
}

.car-plate-input3 {
  max-width: 50px;
  position: absolute;
  right: 4px;
  top: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 34px;
  margin: 0 0 8px;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  text-align: center;
}

.serial-number-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.plate-error-alert {
  display: none;
  width: 100%;
  text-align: center;
  margin: 0.5rem auto;
}

.serial-error-alert {
  display: none;
  width: 100%;
  text-align: center;
  margin: 0.5rem auto;
}

.captcha-error-alert {
  display: none;
  width: 100%;
  text-align: center;
  margin: 0.5rem auto;
}

.server-error-alert {
  display: none;
  width: 100%;
  text-align: center;
  margin: 0.5rem auto;
}

.verify-code-error-alert {
  display: none;
  width: 100%;
  text-align: center;
  margin: 0.5rem auto;
}

.phone-number-error-alert {
  display: none;
  width: 100%;
  text-align: center;
  margin: 0.5rem auto;
}

.bus-info label {
  font-size: 14px;
}

.serial-number {
  margin: 1rem auto 1rem auto;
}

.serial-number-label {
  color: #00669F;
  padding: 0;
  line-height: 2;
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.serial-number-label::after {
  left: 0;
  right: 0;
  top: 50%;
  margin-top: .85em;
  content: "";
  position: absolute;
  border-bottom: 1px dashed #1ca2bd;
}

.help-text-container {
  display: block;
  position: absolute;
  top: calc(65%);
  right: 5px;
  padding: 11px 11px 21px;
  min-width: 273px;
  max-width: 394px;
  -webkit-box-shadow: 0 -6px 12px 0 hsla(0, 0%, 71%, .3);
  box-shadow: 0 -6px 12px 0 hsla(0, 0%, 71%, .3);
  background-color: #fff;
  border: 1px solid #b8b8b8;
  z-index: 121;
  display: none;
}

.help-text-top-dialog {
  position: absolute;
  top: -8px;
  right: 16px;
  width: 13.7px;
  height: 13.7px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background-color: #fff;
  -webkit-box-shadow: inset -1px -1px 0 0 #b8b8b8;
  box-shadow: inset -1px -1px 0 0 #b8b8b8;
}

.help-text-body {
  font-size: 13px;
  font-size: .929rem;
  line-height: 1.692;
  font-weight: 400;
  letter-spacing: -.3px;
  text-align: right;
  direction: rtl;
  color: #777;
}

.serial-number-input {
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: 1px #000 solid;
  width: 270px;
  display: block;
  text-align: center;
  font-size: 18px;
}

.phone-number-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}

.phone-number-label {
  line-height: 1.5;
}

.phone-number-input-row {
  display: flex;
  flex-direction: row;
  margin: 1rem auto 0 auto;
}

.phone-number-button {
  margin: 1rem auto 0 auto;
  width: 270px;
}

.phone-number-input {
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: 1px #000 solid;
  width: 270px;
  display: block;
  text-align: center;
  font-size: 18px;
}

.captcha-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}

.captcha-label {
  line-height: 1.5;
}

.captcha-input-row {
  display: flex;
  flex-direction: row;
  margin: 1rem auto 0 auto;
}

.captcha-image {
  margin-right: 1rem;
  width: 160px;
}

.captcha-input {
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: 1px #000 solid;
  width: 200px;
  display: block;
  text-align: center;
  font-size: 18px;
}

.footer-buttons {
  display: none;
}

.back-button {
  margin-right: 2rem;
}

.phone-container {
  display: none;
}

.code-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sms-code-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}

.sms-code-label {
  padding: 0;
  line-height: 2;
  display: inline-block;
  background: none;
  border: none;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.sms-code-input {
  padding: 0.5rem;
  margin: 0.5rem auto 0 auto;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: 1px #000 solid;
  width: 270px;
  display: block;
  text-align: center;
  font-size: 18px;
}

.textmodal {
  line-height: 2;
  text-align: justify;
  font-size: 14px;
}

#mobilerow {
  flex-wrap: nowrap;
  text-align: center;

}

.picmobile {
  width: 48%;
  max-width: 37%
}

.modal-css {
  background-color: #000000;
}

.picsize {
  width: 40%;
  max-width: 37%;
  float: right;
  margin-top: 6%;
}

.picsize2 {
  width: 20%;
  max-width: 25%;
  float: left;
}

.modalvmstitle {
  color: #ffffff;
}

/* End Modal */

/* RESPONSIVE  */

@media screen and (max-width: 425px) {
  .phone-number-input-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 0 auto;
  }

  .phone-number-button {
    margin: 1rem auto;
    width: 270px;
  }

  .phone-number-input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: 1px #000 solid;
    width: 270px;
    display: block;
    text-align: center;
    font-size: 18px;
  }

  .captcha-input-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 0 auto;
  }

  .captcha-button {
    margin-right: 0;
    width: 270px;
  }

  .captcha-input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: 1px #000 solid;
    width: 270px;
    display: block;
    text-align: center;
    font-size: 18px;
  }

  .routing-icon {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .modal-body .report-item-box {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    padding: 15px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
  }

  .modal-body .report-item-box .report-title p {
    flex: 1;
    font-size: 12px;
  }

  .modal-body .report-item-box .report-title .bus-text {
    margin-top: 1rem;
    line-height: 1.2;
  }

  .modal-body .report-item-box .report-title .problem-text {
    margin-top: 1rem;
    line-height: 1.2;
  }

  .routing-icon {
    display: block;
  }
}

@media screen and (max-width: 1321px) and (min-width: 1200px) {
  .responsiveTopMenuBtn {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    text-align: center;
    padding: 8px 1% 8px 1%;
    text-decoration: none;
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .menu_top button.topMenuActiveBtn {
    border-bottom: none;
  }

  .rahdariLogo {
    display: inline-block;
    height: 20px;
  }

  .responsiveTopMenuBtn {
    display: none;
  }

  .menu_top a:not(:first-child),
  .dropdown-141 .dropbtn {
    display: none;
  }

  .menu_top a.icon {
    color: #fff;
    float: right;
    display: block;
    z-index: 12;
    font-size: 18px;
  }

  #routingBoxToggle {
    margin-top: 25px;
  }

  .menu_top.responsive {
    position: absolute;
    height: auto !important;
    margin-top: 0;
    z-index: 14;
  }

  .menu_top button img {
    margin: unset;
    margin: 0 0 0 8px;
  }

  .menu_top.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
  }

  .menu_top.responsive a,
  responsiveTopMenuBtn {
    float: none;
    text-align: right;
    display: flex;
    flex-direction: row;
    direction: rtl;
    padding: 10px;
  }

  .responsiveTopMenuBtn {
    float: none;
    text-align: right;
    display: flex;
    flex-direction: row;
    direction: rtl;
    padding: 10px;
    width: 100%;
  }

  #navbarmenu_top>:nth-child(2) {
    padding-bottom: 20px;
  }

  .menu_top a img,
  .responsiveTopMenuBtn img {
    margin: 0px 0 0 13px;
  }

  .menu_top.responsive .dropdown-141 {
    float: none;
    overflow: visible;
  }

  .menu_top.responsive .dropdown-content {
    position: relative;
  }

  .menu_top.responsive .dropdown-141 .dropbtn {
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: row;
    direction: rtl;
    padding: 10px;
  }

  .dropdown-141 .dropbtn img {
    margin: 0 0 0 10px;
  }

  .dropdown-141:hover .dropdown-content {
    top: 0;
    border-radius: 0;
  }

  .dropdown-content a:hover {
    border-radius: 0;
  }

  .rahdariLogo {
    margin: 0 10px;
  }

  #navbarmenu_top>div:nth-child(3) {
    margin-left: none;
    margin-right: none;
    position: absolute;
  }

  .rahdariLogo img {
    position: absolute;
    top: 5px;
    margin: 0;
  }

  .menu_top.responsive div:nth-child(1) {
    margin-right: 13px;
    margin-left: 50px;
  }

  #navbarmenu_top>div:nth-child(1)>a>img {
    margin: 0 0 0;
  }

  #navbarmenu_top>div:nth-child(12)>div>a:nth-child(1),
  #navbarmenu_top>div:nth-child(11)>div>a:nth-child(1) {
    display: none;
  }

  .routing-icon {
    display: block;
  }

  .routing-box {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .ResponsiveVerticalMenu {
    display: block;
  }

  .tooltip-menu {
    border-radius: 7px;
  }

  .active-tooltip {
    border: 1px solid #FF5630;
  }

  .parent_menu_vertical {
    top: 65px;
    display: none;
    bottom: auto;
  }

  .menu_vertical {
    display: block;
    margin: auto;
    margin-top: 10px;
  }

  .fisheye-menu button {
    margin-bottom: 10px;
  }

  .menu_vertical {
    width: 94%;
    height: auto;
    max-height: 85%;
    top: 75px;
    border-radius: 7px;
    transition: transform .3s ease-in-out;
    transform-origin: top right;
    transform: scale(0);
    padding: 10px;
  }

  .menu_vertical button {
    width: 30%;
  }

  .tooltip-menu img {
    width: 25px;
    height: 25px;
  }

  .tooltip-menu .tooltiptext {
    display: none;
  }

  .verticalMenuText {
    display: block;
    margin-top: 5px;
  }

  .layerButton:nth-child(4)>div>span.verticalMenuText {
    font-size: 10px;
  }

  .verticalMenuText:nth-child(9) {
    font-size: 9px;
  }

  .verticalMenuText:nth-child(10) {
    font-size: 9px;
  }

  .menu_vertical>button {
    width: 33%;
    max-width: 32%;
    height: 20%;
    max-height: 60px;
  }

  .tooltip-menu img {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    padding: 3px;
    box-sizing: content-box;
    border: 1px solid #AFAFAF;
    border-radius: 4px;
  }

  .provincialcamera-modal>.modal-content>.slideshow .prev,
  .provincialcamera-modal>.modal-content>.slideshow .next,
  .provincialcamera-modal>.modal-content>.slideshow .text {
    font-size: 11px;
    line-height: 1.5;
  }

  .provincialcamera-modal>.modal-content {
    width: 85%;
  }

  .provincialcamera-modal>.modal-content>.slideshow .numbertext {
    font-size: 12px;
  }

  .provincialcamera>.form-map {
    display: none;
  }

  .provincialcamera {
    padding: 20px;
    width: 300px;
    height: 166px;
    opacity: .9;
  }

  .dropdownostan {
    margin: 0 auto;
  }

  .onlinetraffic {
    padding: 20px;
    width: 300px;
    height: 166px;
    opacity: .9;
  }

  .onlinetraffic>.form-map {
    display: none;
  }

  .traffic-box>.form-map {
    display: none;
  }

  .traffic-box {
    padding: 20px;
    width: 300px;
    height: 166px;
    opacity: .9;
  }

  .maincoridr {
    width: 90%;
    max-height: 74%;
  }

  .tripTime {
    width: 90%;
    max-height: 74%;
  }

  #routingBoxToggle {
    margin-top: 25px;
  }

  .responsiveTopMenuBtn {
    margin-bottom: 5px;
  }

  .socialMedia {
    padding: 0;
  }

  .menu_bottom .footerLinks {
    padding: 15px 10px
  }

  .socialMedia img {
    width: 20px;
  }

  .emergencyNum {
    width: 90%;
    max-height: 74%;
  }

  .relatedWebsites {
    width: 90%;
    max-height: 74%;
  }

  .routing-box {
    width: 300px;
    max-height: 74%;
    display: none;
  }

  .routing-icon {
    display: block;
  }

  .phoneContent ul {
    line-height: 2;
  }
}

@media only screen and (max-width: 576px) {
  .maincoridr {
    max-height: 74%;
    padding: 20px 0;
  }

  .tripTime {
    max-height: 74%;
    padding: 20px 0;
  }

  #firoozkooh>span.span1 {
    width: 44%;
    font-size: 9px;
  }

  #tr-row11>span.span2 {
    width: 50%;
  }

  #tr-row37>span.span2 {
    width: 50%;
    font-size: 9px;
  }

  #tr-row38>span.span2 {
    width: 50%;
    font-size: 9px;
  }

  #tr-row39>span.span2 {
    width: 50%;
    font-size: 9px;
  }

  #tr-row40>span.span2 {
    width: 50%;
    font-size: 9px;
  }

  .emergencyNum {
    max-height: 74%;
  }

  .socialMedia a {
    display: inline-block;
    margin: 1px 3px;
  }

  .menu_bottom .footerLinks a {
    margin: 0px 5px !important;
    font-size: 10px;
  }

  .footer_licences {
    font-size: 9px;
    height: 25px;
  }

  .switch-tile-container {
    position: absolute;
    bottom: 60px;
    left: 15px;
    background-color: #ffffff;
    z-index: 12;
    width: 45px;
    height: 45px;
    border-radius: .2rem;
  }

  .routing-icon {
    display: block;
  }
}

.maincoridr,
.emergencyNum,
.relatedWebsites,
.onlinetraffic,
.provincialcamera,
.traffic-box,
.tripTime {
  left: -40%;
}

.routinghover {
  margin-right: 25px;
}

@media only screen and (max-width: 1200px) {

  .routinghover:hover,
  .hoverCamera:hover,
  .hoveronline:hover,
  .hovermapgerafic:hover,
  .hovercoridor:hover {
    border-bottom: none;
  }
}

@media only screen and (max-width: 992px) {
  .maincoridr {
    width: 60%;
    left: -65%;
  }

  .tripTime {
    width: 60%;
    left: -65%;
  }
}

@media only screen and (max-width: 768px) {

  .provincialcamera,
  .traffic-box,
  .onlinetraffic {
    left: -310px;
  }

  .routinghover {
    margin-right: 0;
    margin-top: 30px;
  }

  .maincoridr,
  .tripTime,
  .emergencyNum,
  .relatedWebsites {
    left: -95%;
  }

  .maincoridr,
  .tripTime {
    width: 90%;
  }

  .trafficphoto-modal>.modal-content {
    top: 25%;
    width: 90%;
    padding: 20px;
  }

  .trafficphoto-modal>.modal-content>.close::before {
    top: 5px;
    left: 6px;
  }
}

@media only screen and (max-width: 1100px) and (min-width:992px) {
  #firoozkooh>span.span1 {
    font-size: 9px;
    width: 50%;
  }

  #tr-row9>span.span2 {
    font-size: 9px;
    width: 50%;
  }

  #tr-row11>span.span2 {
    font-size: 9px;
    width: 50%;
  }

  #tr-row31>span.span2 {
    font-size: 9px;
    width: 50%;
  }

  #tr-row37>span.span2 {
    font-size: 9px;
    width: 51%;
  }

  #tr-row38>span.span2 {
    font-size: 9px;
    width: 50%;
  }

  #tr-row39>span.span2 {
    font-size: 9px;
    width: 50%;
  }

  #tr-row40>span.span2 {
    font-size: 9px;
    width: 50%;
  }

  #tr-row38>span.span1 {
    font-size: 9px;
  }
}

@media only screen and (max-width: 576px) {
  .phoneContent ul {
    line-height: 2;
  }
}

@media only screen and (max-width: 400px) {
  .phoneContent ul {
    line-height: 1.8;
    margin-top: 15px;
  }
}


/* END RESPONSIVE */


@media only screen and (max-width: 416px) {
  .menu_bottom {
    bottom: 25px;
    min-height: 45px;
  }

  .menu_bottom .footerLinks a {
    padding: 0px 5px 4px 0px;
    font-size: 10px;
    width: 40%;
    display: inline-block;
  }

  .socialMedia img {
    width: 95%;
    padding: 0px 0;
    height: 45px;
  }

  .menu_bottom .footerLinks {
    padding: 10px 0;
  }

  .socialMedia a {
    margin: 0px 5px;
  }

  .footer_licences {
    display: none;
  }

  .menu_bottom {
    bottom: 0px;
    height: 45px;
  }
}