body {
	background-image: url(../images/icons/pattern.svg) !important;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'IRANSansNumber';
	line-height: 1;
}

/* PUBLIC */
.logo141 {
	padding-left: 0 !important;
}

.logoalert {
	padding-right: 0 !important;
}

.container {
	width: 80%;
	margin: 0px auto 100px auto;
	direction: rtl;
	text-align: right;
	line-height: 1.5;
	position: relative;
	font-size: 14px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* END PUBLIC */

/* triptime files PAGE */

.triptimeContainer {
	top: 70px;
}

.triptimeContent {
	margin-bottom: 0;
}

.triptimeTitle {
	color: #314363;
	margin-bottom: 15px;
	text-align: justify;
	width: 96%;
	line-height: 2;
}

.triptimeTitle h3 {
	padding: 10px 0;
}

.triptimeRight,
.triptimeLeft {
	display: inline-block;
	border: 1px solid #FF5630;
	border-radius: 3px;
}

.triptimeRight {
	width: 22%;
	margin-left: 2%;
}

.triptimeLeft {
	width: 71.5%;
	box-sizing: border-box;
	padding: 20px 3.4% 20px 0%;
	position: absolute;
	margin-bottom: 100px;
}

.triptimeRight ul {
	list-style-type: none;
	padding: 5%;
}

.triptimeRight ul li img {
	vertical-align: middle;
	width: 29px;
	height: 26px;
}

.triptimeLeft ul button {
	padding: 0px 6px 0 0px;
	margin: 5px 10px;
	width: 13%;
	border-radius: 3px;
	text-align: right;
}

.triptimeLeft ul li span {
	font-size: 10px;
	margin-bottom: 7px;
	display: inline-block
}

.triptimeLeft ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

.triptimeLeft ul a {
	margin: 10px 1%;
	border: 1px solid #D0D0D0;
	padding: 5px 1% 5px 1%;
	border-radius: 5px;
	color: #314363;
	width: 100px;
}

.triptimeLeft ul li img {
	vertical-align: middle;
	display: inline-block;
	width: 20%;
}

/* image gallary */

div.gallery {
	border: 1px solid #D0D0D0;
	font-size: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	margin-left: 10px;
	border-radius: 3px;
}

div.gallery img {
	width: 45%;
	height: auto;
}

div.desc {
	box-sizing: border-box;
	padding: 15px;
	color: #314363;
	max-width: 96%;
	overflow: hidden;
	margin: 0 0 0 10%;
}

* {
	box-sizing: border-box;
}

.responsive {
	float: left;
	width: 18.9999%;
	text-align: center;
}

.responsiveContent {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.responsiveText {
	margin: 0 auto;
	color: #314363;
}

/* END triptime files PAGE */

/* reset button defult style  */

.btn {
	display: inline-block;
	border: none;
	padding: 1rem 2rem;
	margin: 0;
	text-decoration: none;
	background: #ffffff;
	color: #314363;
	font-family: "IRANSans";
	cursor: pointer;
	font-size: 1rem;
	cursor: pointer;
	/* text-align: center; */
	text-align: right;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.btn:hover,
.btn:focus,
.btn:active {
	background: #FF5630;
	color: #ffffff;
	outline: none;
	border: 1px solid #FF5630;
}

/* .btn:focus {
	outline: 1px solid #FF5630;
	outline-offset: -4px;
  } */

.btn:active {
	transform: scale(0.99);
}

.monthButton {
	display: inline-block;
	border: none;
	padding: 1rem 2rem;
	margin: 0;
	text-decoration: none;
	background: #ffffff;
	color: #314363;
	font-family: "IRANSans";
	cursor: pointer;
	font-size: 1rem;
	cursor: pointer;
	text-align: right;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #D0D0D0;
}

.monthButton:hover,
.monthButton:focus,
.monthButton:active,
.monthButton:focus-within,
.monthButton:visited {
	background: #FF5630;
	color: #ffffff;
	border: 1px solid #FF5630;
	outline: none;
}

.monthButton:focus {
	outline: 1px solid #FF5630;
	outline-offset: -4px;
}

.monthButton:active {
	transform: scale(0.99);
}

.triptimeRight ul button {
	margin: 10px 5%;
	border: 1px solid #D0D0D0;
	padding: 5px 5%;
	border-radius: 4px;
	width: 90%;
	text-align: right;
}

.triptimeRight ul button li span {
	font-size: 10px;
	font-family: "IRANSansNumber";
}

#triptimeLeftshow {
	display: none;
}

.activeButton {
	background: #FF5630;
	color: #ffffff;
}

/*  contactus PAGE */

.contactus {
	background-color: #e1e1e845;
}

.menu_top_resetShadow {
	box-shadow: none !important;
}

.contactusContainer {
	top: 80px;
}

.contactusTitle p {
	/* color: #ffffff; */
	font-size: 16px;
	margin: 0 0 20px 0;
}

.contactusContent {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 60vh;
}

.contactusRight {
	width: 30%;
	margin-left: 2%;
	background-color: #ffffff;
	border-radius: 7px;
	padding: 15px;
	border: 1px #ff5630 solid;
}

.contactusRight input[type=text],
.contactusRight input[type=email],
.contactusRight>textarea {
	width: 49%;
	border: 1px solid #D0D0D0;
	padding: 10px;
	font-size: 10px;
	border-radius: 3px;
	font-family: 'IRANSans';
	margin-bottom: 15px;
	height: 6vh;
}

.contactusRight input[type=text]:focus,
.contactusRight input[type=email]:focus,
.contactusRight>textarea:focus,
.contactusRight>button:focus {
	outline: 1px solid #FF5630;
	outline-offset: 0px;
	outline-style: auto;
}

.contactusRight input[type=text]:nth-child(4) {
	width: 99%;
}

.contactusRight>textarea {
	width: 99%;
	max-width: 99%;
	min-width: 99%;
	height: 10vh;
	min-height: 17vh;
	max-height: 17vh;
}

.contactusRight>button {
	width: 99%;
	height: 30px;
	background-color: #FF5630;
	border: 1px solid #FF5630;
	border-radius: 3px;
	color: #ffffff;
	font-family: 'IRANSans';
	font-size: 13px;
}

.contactusRight p {
	font-size: 14px;
	margin: 0 0 15px 0;
}

.contactusRight div.checkedSendMessage {
	text-align: center;
}

.contactusRight div.checkedSendMessage a {
	font-size: 10px;
	color: #0051CD;
	margin-top: 11px;
	display: inline-block;
}

.contactusLeft {
	width: 68%;
	/* padding: 15px; */
	display: flex;
	flex-flow: column;
}

.contactusLeftlLocation,
.contactusLeftAboutUs {
	border-radius: 7px;
	width: 100%;
	background-color: #ffffff;
}

.contactusLeftlLocation {
	margin-bottom: 20px;
	height: 30vh;
}

.contactusLeftAboutUs {
	line-height: 2;
	height: 30vh;
	max-height: 30vh;
	padding: 15px;
	border: 1px #ff5630 solid;
}

.contactusLeftAboutUs p img {
	display: inline-block;
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.contactusLeftAboutUs p span {
	width: 80%;
	font-size: 13px;
	cursor: pointer;
}

.captcha {
	display: flex;
	flex-direction: row;
}

.captcha img {
	display: inline-block;
	width: 80%;
	height: 30px;
}

.captcha input {
	display: inline-block;
	width: 95% !important;
	height: 35px;
}

#mapid {
	width: 100%;
	height: 30vh;
	border-radius: 7px;
	z-index: 10;
	max-height: 30vh;
	border: 1px #ff5630 solid;
}

#mapid>div.leaflet-pane.leaflet-map-pane>div.leaflet-pane.leaflet-popup-pane>div>a {
	right: 150px;
	top: 0px;
}

#mapid>div.leaflet-pane.leaflet-map-pane>div.leaflet-pane.leaflet-popup-pane>div>div.leaflet-popup-content-wrapper {
	width: 180px;
}

#mapid>div.leaflet-pane.leaflet-map-pane>div.leaflet-pane.leaflet-popup-pane>div>div.leaflet-popup-content-wrapper>div>b {
	font-family: "IRANSans";
}

#mapid>div.leaflet-control-container>div.leaflet-top.leaflet-left>div {
	display: none;
}



/* publicquestions PAGES */

.questionsContainer {
	top: 70px;
	height: 73%;
}

.questionsTitle p {
	color: #344563;
	padding: 8px 0px 15px 0;
	font-weight: bolder;
	font-size: 14px;
}

.questionsContent button {
	background: none;
	color: #FF5630;
	border: none;
	font-weight: bold;
	font-size: 15px;
}

.questionsContent {
	width: 100%;
	border: 1px solid #FF5630;
	padding: 30px 0 0 0;
	border-radius: 3px;
	line-height: 2;
	margin-bottom: 100px;
}

.questionsContent button {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	cursor: pointer;
}

.questionsContent ul {
	color: #6D6D6D;
	padding: 15px 4%;
	list-style-type: none;
	font-size: 13px;
}

.questionsContent ul li {
	border-right: 1px solid #FF5630;
	padding-right: 15px;
}

.questionsText {
	border-bottom: 1px solid #D0D0D0;
	padding: 10px;
}

.questionsText button {
	cursor: pointer;
	display: block;
	font-family: "IRANSans";
}

.questionsText button:focus {
	outline: none;
}

.questionsText button img {
	width: 12px;
	vertical-align: middle;
	margin: 0 0 0 10px;
}

.questionsText:last-child {
	border: none;
}

/* phonenumber PAGE */

.phoneContainer {
	top: 70px;
}

.phoneContent ul {
	list-style-type: none;
	border: 1px solid #FF5630;
	width: 35%;
	border-radius: 3px;
	padding: 5px 4%;
	line-height: 2.5;
}

.phoneContent ul li {
	display: flex;
	flex-flow: row;
	font-size: 12px;
	border-bottom: 1px dashed #AFAFAF;
	padding: 2px 0;
}

.phoneContent ul li:last-child {
	border-bottom: none;
}

.phoneContent ul li span:nth-child(1) {
	flex: auto;
}

/* news PAGE */
.newsContainer {
	top: 75px;
}

.newsTitle p {
	color: #344563;
	padding: 0;
	font-weight: bolder;
	font-size: 14px;
}

.newsContent {
	display: flex;
	flex-direction: row;
	max-height: 95%;
	margin-bottom: 5%;
}

.newsContentRight {
	width: 26%;
	margin-left: 2%;
	padding: 20px 2%;
	border-radius: 3px;
	border: 1px solid #FF5630;
	overflow: auto;
}

.newsContentLeft {
	display: flex;
	flex-direction: column;
	width: 72%;
	border: 1px solid #FF5630;
	border-radius: 3px;
	padding: 20px 2%;
	line-height: 2;
	overflow: auto;
	position: relative;
}

.newsContentLeftTitle {
	display: flex;
	flex-direction: row;
	flex: auto;
}

.newsContentLeft img {
	height: 80px;
}

.newsContentRight h2 {
	font-size: 14px;
	font-weight: bolder;
}

.newsContentRight span,
.newsContentLeft span {
	font-size: 10px;
	font-weight: 599;
	color: #6D6D6D;
	font-family: 'IRANSansNumber' !important;
	line-height: 2.5;
	direction: rtl;
}

.newsContentLeft p {
	font-size: 10px;
	font-weight: 599;
	color: #6D6D6D;
	font-family: 'IRANSans' !important;
	line-height: 2.5;
	direction: rtl;
}

.news {
	margin-bottom: 1rem;
	margin-top: 1rem;
	cursor: pointer;
}

.pform {
	font-size: 10px;
	color: #6D6D6D;
	line-height: 2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.newsTitle {
	font-size: 12px;
	color: #000000;
	cursor: pointer;
}

.phonttozihat {
	font-size: 10px;
	color: black;
	direction: rtl;
	text-align: justify;
	font-family: 'IRANSans' !important;
	line-height: 2.5rem;
}

/* p.newsTitle {
	color: #000000;
	font-size: 13px;
	margin-top: 1rem;
  } */

/* .pform {
	  white-space: normal;
	  overflow: hidden;
	  text-overflow: ellipsis;
  }
   */

.newsContentLeft h2 {
	font-size: 14px;
	flex: auto;
}

.newsContentLeft ul {
	list-style-type: none;
	font-size: 12px;
	color: #6D6D6D;
}

.newsContentRight::-webkit-scrollbar,
.newsContentLeft::-webkit-scrollbar,
.aboutUsContentRight::-webkit-scrollbar,
.aboutUsContentLeft::-webkit-scrollbar {
	width: 4px;
}

/* Track */

.newsContentRight::-webkit-scrollbar-track,
.newsContentLeft::-webkit-scrollbar-track,
.aboutUsContentRight::-webkit-scrollbar-track,
.aboutUsContentLeft::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */

.newsContentRight::-webkit-scrollbar-thumb,
.newsContentLeft::-webkit-scrollbar-thumb,
.aboutUsContentRight::-webkit-scrollbar-thumb,
.aboutUsContentLeft::-webkit-scrollbar-thumb {
	background: #FF5630;
	/* background: #EBECF0;  */
	border-radius: 7px;
}

/* Handle on hover */

.newsContentRight::-webkit-scrollbar-thumb:hover,
.newsContentLeft::-webkit-scrollbar-thumb:hover,
.aboutUsContentRight::-webkit-scrollbar-thumb:hover,
.aboutUsContentLeft::-webkit-scrollbar-thumb:hover {
	background: #ffffff;
}

/* about_us PAGE */

.aboutUsContainer {
	top: 70px;
}

.aboutUsTitle p {
	color: #344563;
	padding: 35px 0 0 0;
	font-weight: bolder;
}

.aboutUsTitleContent {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}

.aboutUsTitleContent span {
	width: 60%;
	display: inline-block;
	margin-left: 13%;
	margin-top: 20px;
	line-height: 2;
	text-align: justify;
}

.aboutUsTitleContent img {
	flex: auto;
	display: inline-block;
	width: 250px;
	height: 250px;
	max-width: 250px;
	max-height: 250px;
	border-radius: 50%;
}

.aboutUsContent {
	display: flex;
	flex-direction: row;
	/* max-height: 400px; */
	direction: rtl;
	width: 95%;
	margin: 0 auto 100px auto;
	/* height: max-content;
	max-height: max-content; */
}

.aboutUsContentRight {
	width: 48%;
	margin-left: 2%;
	padding: 20px 2%;
	border-radius: 3px;
	border: 1px solid #FF5630;
	overflow: auto;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.10);
	line-height: 2;
}

.aboutUsContentRight p,
.aboutUsContentLeft p {
	font-size: 12px;
}

.aboutUsContentLeft {
	display: flex;
	flex-direction: column;
	width: 48%;
	border: 1px solid #FF5630;
	border-radius: 3px;
	padding: 20px 2%;
	line-height: 2;
	overflow: auto;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.10);
}

.aboutUsIems {
	width: 100%;
	display: flex;
	flex-direction: row;
	background: #FFFFFF;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.10);
	direction: rtl;
	margin-bottom: 50px;
}

.aboutUsIemsRight {
	width: 80%;
	margin: 30px 2%;
	line-height: 2;
	border-left: 1px solid #AFAFAF;
}

.aboutUsIemsRight img,
.aboutUsIemsLeft img {
	display: block;
	margin: 0 auto;
	height: 30px;
}

.aboutUsIemsRight p,
.aboutUsIemsLeft p {
	font-size: 14px;
	color: #0051CD;
	font-weight: bold;
	text-align: center;
	margin: 10px 0;
}

.aboutUsIemsRight span,
.aboutUsIemsLeft span {
	font-size: 12px;
	color: #6D6D6D;
}

.aboutUsIemsLeft {
	width: 47%;
	padding: 20px 2%;
	border-radius: 3px;
	line-height: 2;
}

.aboutUsIemsLeft ul li {
	font-size: 12px;
	color: #6D6D6D;
}

.aboutUsIemsLeft {
	width: 80%;
	margin: 0 auto;
	padding: 20px 2%;
	border-radius: 3px;
	line-height: 2;
}

.mobileAppContainer {
	top: 90px;
}

.mobileAppTitle p {
	color: #344563;
	font-weight: bolder;
	font-size: 14px;
}

.mobileAppContent {
	display: flex;
	flex-direction: row;
}

.mobileAppContent span {
	width: 84%;
	display: inline-block;
	margin-left: 13%;
	margin-top: 20px;
	line-height: 2;
	text-align: justify;
}

.mobileAppContent img {
	flex: auto;
	display: inline-block;
	width: auto;
	height: 300px;
}

.mobileAppImg {
	display: flex;
	flex-direction: row;
	margin-top: -1rem;
}

.mobilePic1 {
	margin-left: 3%;
}

.mobileAppBadget {
	display: flex;
	flex-direction: column;
}

.mobileAppBadgetImg {
	margin-top: 1rem;
}

.mobileAppBadgetImg img {
	height: auto;
	width: 15%;
}

.mobileAppBadgetImgIos {
	margin-top: 1rem;
}

.mobileAppBadgetImgIos img {
	width: 158px;
	height: auto;
}

.featuresApp {
	margin-top: 1rem;
	text-align: justify;
}

.featuresAppTitle {
	font-size: 16px;
	font-weight: bolder;
	display: block;
}

.featuresAppTable {
	width: 100%;
	margin: 0 auto;
	margin-top: 3rem;
}

.featuresAppTableTitle {
	display: flex;
}

.featuresAppTable {
	display: flex;
	flex-direction: row;
}

.featuresAppTable img {
	width: 17px;
	height: auto;
	margin-left: 1%;
}

.PFont {
	margin-top: 1rem;
	font-size: smaller;
	color: #5E6C84;
	width: 80%;
}

.distancep {
	margin-right: 1%;
}

.featuresAppTable1 {
	width: 33%
}

.featuresAppTable {
	margin-top: 1rem;
	/* margin-right: 12%; */
}

.filmContainer {
	top: 80px;
}

.filmAppTitle p {
	color: #344563;
	padding: 0;
	font-weight: bolder;
	font-size: 16px;
}

/* news PAGE */

.filmList {
	display: flex;
	flex-direction: row;
}

.filmItem {
	position: relative;
	width: 24.999%;
	text-align: center;
	border: 1px solid #AFAFAF;
	padding-top: 10px;
	margin: 10px;
	border-radius: 4px;
	line-height: 2;
}

.filmItem:hover {
	border: 1px solid #FF5630;
}

.filmItem1 {
	position: relative;
	width: 23.2%;
	text-align: center;
	border: 1px solid #AFAFAF;
	padding-top: 10px;
	margin: 10px;
	border-radius: 4px;
}

.filmItem1:hover {
	border: 1px solid #FF5630;
}

.otherfilmTitle p {
	color: #344563;
	padding: 35px 0 0 0;
	font-weight: bolder;
	font-size: 16px;
}

.picAnimation {
	width: 90%;
}

.positionPIcMp4 {
	right: 40%;
	top: 26%;
	position: absolute;
	width: 24%;
}





/* new page */
.containerVoice {
	width: 80%;
	margin: 0px auto 100px auto;
	direction: rtl;
	text-align: right;
	line-height: 1.5;
	position: relative;
	font-size: 14px;
}

.newshearContainer {
	top: 70px;
}

.newshearContent {
	display: flex;
	flex-direction: column;
	margin: 0 auto 100px auto;

}

.newhearcontent {
	display: flex;
	flex-direction: column;
	width: 85%;
	border: 1px solid #FF5630;
	border-radius: 3px;
	padding: 15px 0%;
	line-height: 2;
	overflow: auto;
	position: relative;
	right: 86px;
	top: 48px;
}

.card {
	border: 1px solid #CECECE;
	border-radius: 3px;
	overflow: auto;
	width: 97%;
	padding: 10px 0 0px 0;
	text-align: right;
	direction: rtl;
	/* margin: 1rem auto 1rem auto; */
	margin: 0rem auto 1rem auto;
}

.voicecardA {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.voicecardB {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.voicecard1 {
	display: flex;
	flex-direction: row;
}

.timeVoice {
	width: 100%;
	text-align: left;
	font-weight: 500;
	margin-left: 1%;
}

.timeVoice1 {
	width: 70%;
	text-align: left;
	font-weight: 500;
}

.namefile {
	width: 100%;
	font-weight: 500;
	margin-right: 2%;
}

.waveform {
	margin: 0 auto;
	width: 82%;
	/* margin-top: 1rem; */
}

.waveform1 {
	margin: 0 auto;
	width: 82%;
	/* margin-top: 1rem; */
}

.waveform .progress {
	position: absolute;
	z-index: 1;
	top: 35%;
	transform: translateY(-50%);
	right: 700px;
}

.waveform .progress1 {
	position: absolute;
	z-index: 1;
	top: 70%;
	transform: translateY(-50%);
	right: 700px;
}

.progress {
	height: 1rem;
	overflow: hidden;
	font-size: .75rem;
	background-color: #e9ecef;
	border-radius: .25rem;
}

.progress1 {
	height: 1rem;
	overflow: hidden;
	font-size: .75rem;
	background-color: #e9ecef;
	border-radius: .25rem;
}

.buttonVoice {
	margin-right: 47%;
	/* margin-top: 1rem; */
}

#forward-button {
	width: 4%;
	margin-left: 1%;
}

#playBtn {
	width: 4%;
	margin-left: 1%;
}

#backward-button {
	width: 4%;
	margin-right: 5px;
}

#forward-button1 {
	width: 4%;
	margin-left: 1%;
}

#playBtn1 {
	width: 4%;
	margin-left: 1%;
}

#backward-button1 {
	width: 4%;
	margin-right: 5px;
}

/* newshear end */
/* Transportproblem page */
.transportaionContainer {
	top: 70px;
}

.transportaionContent {
	display: flex;
	flex-direction: column;
	margin: 0 auto 100px auto;
}

.transcontent {
	display: flex;
	flex-direction: column;
	width: 85%;
	border: 1px solid #FF5630;
	border-radius: 3px;
	padding: 20px 2%;
	line-height: 2;
	overflow: auto;
	position: relative;
	right: 86px;
	top: 26px;
}

.row {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin-right: 3%;
	margin-bottom: 4px;
}

.rowbox {
	display: contents;
}

.row h1 {
	width: 18%;
	margin-top: 5px;
	font-weight: 500;

}

.inputrow {
	width: 30%;
	border: 1px solid #D0D0D0;
	padding: 10px;
	font-size: 12px;
	border-radius: 3px;
	font-family: 'IRANSansNumber';
	margin-bottom: 6px;
}

.inputrow:focus {
	border: 1px solid #FF5630;
	outline: #ff5630;
}

.row select {
	width: 30%;
	border: 1px solid #D0D0D0;
	padding: 10px;
	font-size: 11px;
	border-radius: 3px;
	font-family: 'IRANSans';
	margin-bottom: 6px;
}

.captchaimg {
	width: fit-content;

}

.row select:focus {
	border: 1px solid #FF5630;
	outline: #ff5630;
}

.buttontrns {
	width: 12%;
	height: 30px;
	background-color: #FF5630;
	border: 1px solid #FF5630;
	border-radius: 3px;
	color: #ffffff;
	font-family: 'IRANSans';
	font-size: 12px;
	cursor: pointer;
}

.extraFiles input {
	margin-top: 7px;
	width: 80%;
}

.datemove {
	width: 100%;
	border: 1px solid #D0D0D0;
	padding: 10px;
	font-size: 12px;
	border-radius: 3px;
	font-family: 'IRANSans';
	margin-bottom: 6px;
}

.secondmarg {
	margin-right: 7%;
}

.wickedpicker {
	user-select: none;
	box-shadow: 0 0 0 1px rgba(14, 41, 57, .12), 0 2px 5px rgba(14, 41, 57, .44), inset 0 -1px 2px rgba(14, 41, 57, .15);
	background: #fefefe;
	margin: 0 auto;
	border-radius: .1px;
	height: 130px;
	font-size: 14px;
	display: none;
	width: 17%;
}




/* TripTime Page */

html {
	font-size: 62.5%;
}

/* body {
	  font-size: 1.6rem;
	  font-family: "Source Sans Pro", sans-serif;
	  color: #383838;
	  background-color: #f8f8f8;
  } */

a {
	color: #FF5630;
	text-decoration: none;
}

/* -------------------------------- 
Main Components 
-------------------------------- */

.cd-horizontal-timeline {
	opacity: 0;
	margin: 2em auto;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.cd-horizontal-timeline::before {
	/* never visible - this is used in jQuery to check the current MQ */
	content: 'mobile';
	display: none;
}

.cd-horizontal-timeline.loaded {
	opacity: 1;
	border: 1px solid #FF5630;
	border-radius: 3px;
	position: relative;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.10);
}

.cd-horizontal-timeline .timeline {
	position: relative;
	height: 100px;
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
}

.cd-horizontal-timeline .events-wrapper {
	position: relative;
	height: 100%;
	margin: 0 40px;
	overflow: hidden;
}

.cd-horizontal-timeline .events-wrapper::after,
.cd-horizontal-timeline .events-wrapper::before {
	/* these are used to create a shadow effect at the sides of the timeline */
	content: '';
	position: absolute;
	z-index: 2;
	top: 0;
	height: 100%;
	width: 20px;
}

.cd-horizontal-timeline .events-wrapper::before {
	left: 0;
	background-image: -webkit-linear-gradient(left, #f8f8f8, rgba(248, 248, 248, 0));
	background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}

.cd-horizontal-timeline .events-wrapper::after {
	right: 0;
	background-image: -webkit-linear-gradient(right, #f8f8f8, rgba(248, 248, 248, 0));
	background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}

.cd-horizontal-timeline .events {
	/* this is the grey line/timeline */
	position: absolute;
	z-index: 1;
	left: 0;
	top: 49px;
	height: 2px;
	/* width will be set using JavaScript */
	background: #dfdfdf;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cd-horizontal-timeline .events ol {
	list-style-type: none;
}

.cd-horizontal-timeline .filling-line {
	/* this is used to create the green line filling the timeline */
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #FF5630;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-ms-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cd-horizontal-timeline .events a {
	position: absolute;
	bottom: 0;
	z-index: 2;
	text-align: center;
	font-size: 1.3rem;
	padding-bottom: 15px;
	color: #383838;
	/* fix bug on Safari - text flickering while timeline translates */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.cd-horizontal-timeline .events a::after {
	/* this is used to create the event spot */
	content: '';
	position: absolute;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -5px;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border: 2px solid #dfdfdf;
	background-color: #f8f8f8;
	-webkit-transition: background-color 0.3s, border-color 0.3s;
	-moz-transition: background-color 0.3s, border-color 0.3s;
	transition: background-color 0.3s, border-color 0.3s;
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
	background-color: #FF5630;
	border-color: #FF5630;
}

.cd-horizontal-timeline .events a.selected {
	pointer-events: none;
}

.cd-horizontal-timeline .events a.selected::after {
	background-color: #FF5630;
	border-color: #FF5630;
}

.cd-horizontal-timeline .events a.older-event::after {
	border-color: #FF5630;
}

.cd-timeline-navigation a {
	/* these are the left/right arrows to navigate the timeline */
	position: absolute;
	z-index: 1;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border: 2px solid #dfdfdf;
	/* replace text with an icon */
	overflow: hidden;
	color: transparent;
	text-indent: 100%;
	white-space: nowrap;
	-webkit-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	transition: border-color 0.3s;
}

.cd-timeline-navigation a::after {
	/* arrow icon */
	content: '';
	position: absolute;
	height: 16px;
	width: 16px;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	/* background: url(../img/cd-arrow.svg) no-repeat 0 0; */
}

.cd-timeline-navigation a.prev {
	left: 0;
	-webkit-transform: translateY(-50%) rotate(180deg);
	-moz-transform: translateY(-50%) rotate(180deg);
	-ms-transform: translateY(-50%) rotate(180deg);
	-o-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

.cd-timeline-navigation a.next {
	right: 0;
}

.no-touch .cd-timeline-navigation a:hover {
	border-color: #FF5630;
}

.cd-timeline-navigation a.inactive {
	cursor: not-allowed;
}

.cd-timeline-navigation a.inactive::after {
	background-position: 0 -16px;
}

.no-touch .cd-timeline-navigation a.inactive:hover {
	border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
	position: relative;
	width: 100%;
	margin: 2em 0;
	overflow: hidden;
	-webkit-transition: height 0.4s;
	-moz-transition: height 0.4s;
	transition: height 0.4s;
	display: none;
}

.cd-horizontal-timeline .events-content li {
	position: absolute;
	z-index: 1;
	width: 200px;
	left: 0;
	top: 0;
	padding: 0 5%;
	opacity: 0;
	-webkit-animation-duration: 0.4s;
	-moz-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.cd-horizontal-timeline .events-content li.selected {
	/* visible event content */
	position: relative;
	z-index: 2;
	opacity: 1;
}

.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right {
	-webkit-animation-name: cd-enter-right;
	-moz-animation-name: cd-enter-right;
	animation-name: cd-enter-right;
}

.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left {
	-webkit-animation-name: cd-enter-left;
	-moz-animation-name: cd-enter-left;
	animation-name: cd-enter-left;
}

.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left {
	-webkit-animation-direction: reverse;
	-moz-animation-direction: reverse;
	animation-direction: reverse;
}

.cd-horizontal-timeline .events-content li>* {
	max-width: 800px;
	margin: 0 auto;
}

.cd-horizontal-timeline .events-content h2 {
	font-weight: bold;
	font-size: 2.6rem;
	font-family: "Playfair Display", serif;
	font-weight: 700;
	line-height: 1.2;
}

.cd-horizontal-timeline .events-content em {
	display: block;
	font-style: italic;
	margin: 10px auto;
}

.cd-horizontal-timeline .events-content em::before {
	content: '- ';
}

.cd-horizontal-timeline .events-content p {
	font-size: 1.4rem;
	color: #959595;
}

.cd-horizontal-timeline .events-content em,
.cd-horizontal-timeline .events-content p {
	line-height: 1.6;
}

.triptimeTimeLineTitle {
	padding: 14px 12px 0 0;
	margin: 0 auto;
	display: table;
}

.triptimeRouteDetails {
	display: inline-block;
	margin: 0px 0px 0px 30px;
}

.triptimeRouteDetails div {
	font-weight: bold;
	display: inline-block;
	font-size: 13px;
}

.triptimeRouteDetails span {
	font-size: 12px;
}

.cd-timeline-navigation {
	list-style-type: none;
}

/* END TripTime Page */

/* ERROR PAGE */

.errorContainer {
	top: 75px;
}

.errorContent p {
	color: #FF5630;
	font-weight: bolder;
	font-size: 164px;
	text-align: center;
	max-height: 40vh;
	line-height: normal;
}

.errorContent {
	width: 100%;
	color: #FF5630;
	border: 1px solid #FF5630;
	border-radius: 3px;
	line-height: 2;
	margin-bottom: 100px;
	font-weight: 700;
	font-size: 50px;
	margin-bottom: 40px;
	opacity: 0.9;
	direction: ltr;
	text-align: center;
	display: flex;
	flex-direction: column;
	font-family: 'IRANSansNumber';
}

.errorContent a {
	width: 30%;
	margin: 10px auto 0px auto;
	height: 40px;
	font-size: 18px;
	font-family: "IRANSans";
	background-color: #FF5630;
	border: 1px solid #FF5630;
	color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
}

.errorContent a:hover {
	font-family: "IRANSans";
	background-color: #ffffff;
	border: 1px solid #FF5630;
	color: #FF5630
}

#timer {
	direction: rtl;
	font-size: 18px;
}

/* END ERROR PAGE  */
@media only screen and (min-width: 1440px) {
	.contactusLeftAboutUs {
		line-height: 3;
		height: 34vh;
		max-height: 34vh;
		border: 1px #ff5630 solid;
	}

	.contactusLeftAboutUs p span {
		font-size: 18px;
	}

	.contactusTitle p {
		font-size: 28px;
	}

	.contactusRight p {
		font-size: 20px;
	}

	.contactusRight input[type=text],
	.contactusRight input[type=email],
	.contactusRight>textarea {
		width: 100%;
		font-size: 18px;
	}

	.contactusRight {
		height: 68vh;
		border: 1px #ff5630 solid;
	}

	.contactusRight div.checkedSendMessage a {
		font-size: 18px;
	}

	.captcha {
		height: 8vh;
	}

	.captcha img {
		width: auto;
		height: 6vh;
		border: 1px solid #D0D0D0;
		border-radius: 3px;
	}

	.contactusRight>button {
		font-size: 20px;
		height: 5vh;
	}

	.contactusLeftlLocation {
		margin-bottom: 5vh;
		height: 30vh;
	}

	#mapid {
		height: 33vh;
		max-height: 33vh;
		border: 1px #ff5630 solid;
	}

	.captcha input {
		height: 6vh;
	}

}

@media only screen and (max-width: 768px) {
	.contactusContent {
		flex-direction: column;
	}

	.contactusRight {
		margin-bottom: 20px;
		border: 1px #ff5630 solid;
	}

	.contactusRight,
	.contactusLeft {
		width: 100%;
	}

	.contactusLeftAboutUs p span {
		font-size: 16px;
		line-height: 2;
	}

	.contactusLeftAboutUs {
		line-height: 2;
		height: 30vh;
		max-height: 30vh;
		padding: 15px;
		margin-bottom: 15vh;
		border: 1px #ff5630 solid;
	}

	.responsive {
		width: 32.99999%;
		margin: 6px 0;
	}

	div.desc {
		font-size: 10px;
	}

	.triptimeRight {
		display: flex;
		width: 100%;
		margin-bottom: 20px;
	}

	.triptimeRight ul {
		width: 100%;
	}

	.triptimeLeft {
		width: 100%;
		padding: 10px 5%;
	}

	.triptimeLeft ul li span {
		font-size: 10px;
		margin: 0 auto;
		white-space: nowrap;
		width: 84%;
	}

	.triptimeLeft ul li img {
		width: 12px;
	}

	.triptimeLeft ul button {
		width: 21%;
	}

	.phoneContent ul {
		width: 70%;
	}

	.contactusLeftAboutUs {
		line-height: 3;
		border: 1px #ff5630 solid;
	}
}

@media screen and (max-width: 768px) and (min-width : 577px) {
	.mobileAppContent {
		display: flex;
		flex-direction: column-reverse;
	}

	.mobileAppImg {
		display: flex;
		flex-direction: row;
		/* margin-top: 2rem; */
		margin: 1rem 16% 1rem auto;
	}

	.mobileAppContent span {
		width: 100%;
		display: inline-block;
		margin-left: 13%;
		margin-top: 20px;
		line-height: 2;
		text-align: justify;
	}

	.mobileAppImg img {
		height: 50%;
		width: 48%;
		max-width: 37%;
	}

	.mobileAppBadgetImg img {
		height: auto;
		width: 24%;
	}

	.featuresAppTable {
		display: flex;
		flex-direction: column;
		margin-right: 0;
		margin-top: 0rem;
	}

	.featuresAppTable1 {
		width: 100%;
		margin-top: 1rem;
	}

	.PFont {
		margin-top: 1rem;
		font-size: smaller;
		color: #5E6C84;
		width: 100%;
	}

	.captcha input {
		width: 90% !important;
		margin-right: 0;
	}
}

@media only screen and (max-width: 1002px) {

	.contactusRight input[type=text],
	.contactusRight input[type=email],
	.contactusRight>textarea {
		width: 100%;
	}
}

@media only screen and (max-width: 950px) {
	.responsive {
		width: 24.9999%;
	}

	div.desc {
		font-size: 9px;
		padding: 10px;
	}

	div.gallery img {
		width: 30%;
	}
}

@media only screen and (max-width: 1200px) {
	.phoneContent ul {
		width: 45%;
	}
}



@media only screen and (max-width: 992px) {
	.newsContent {
		flex-direction: column;
		max-height: none;
	}

	.newsContentRight {
		width: 100%;
		margin-bottom: 30px;
		height: 400px;
		max-height: 400px;
		min-height: 400px;
	}

	.newsContentLeft {
		width: 100%;
		height: 400px;
		max-height: 400px;
		min-height: 400px;
	}
}

@media only screen and (max-width: 502px) {
	.newsContentLeft img {
		height: 45px;
		margin-top: 29px;
	}
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
	.featuresAppTable1 {
		width: 31%;
	}

	.featuresAppTable {
		margin-top: 4rem;
		margin-right: 8%;
	}

	.mobileAppBadgetImg img {
		height: auto;
		width: 22%;
	}
}

@media screen and (max-width: 1000px) and (min-width: 769px) {
	.featuresAppTable {
		margin: 0;
	}

	.featuresAppTable {
		display: flex;
		flex-direction: column;
	}

	.featuresAppTable1 {
		margin-top: 1rem;
	}

	.PFont {
		margin-top: 1rem;
		font-size: smaller;
		color: #5E6C84;
		width: 100%;
	}

	.featuresAppTable1 {
		width: 100%;
	}

	.mobileAppBadgetImg img {
		height: auto;
		width: 28%;
	}

	.positionPIcMp4 {
		right: 33%;
		top: 24%;
	}
}


@media screen and (max-width: 576px) {
	.mobileAppBadgetImg img {
		width: 32%;
		height: auto;
	}

	.mobileAppContent {
		display: flex;
		flex-direction: column-reverse;
	}

	.mobileAppImg {
		display: flex;
		flex-direction: row;
		/* margin-top: 2rem; */
		margin: 1rem 16% 0rem auto;
	}

	.mobileAppContent span {
		width: 100%;
		display: inline-block;
		margin-left: 13%;
		margin-top: 20px;
		line-height: 2;
		text-align: justify;
	}

	.mobileAppImg img {
		height: 50%;
		width: 48%;
		max-width: 37%;
	}

	.featuresAppTable {
		display: flex;
		flex-direction: column;
		margin-right: 0;
		margin-top: 0rem;
	}

	.featuresAppTable1 {
		width: 100%;
		margin-top: 1rem;
	}

	.PFont {
		margin-top: 1rem;
		font-size: smaller;
		color: #5E6C84;
		width: 100%;
	}
}

@media only screen and (max-width: 992px) {
	.aboutUsTitleContent {
		flex-direction: column-reverse;
		width: 100%;
		/* box-shadow: 0 2px 15px 0 rgba(0,0,0,0.10); */
	}

	.aboutUsTitleContent span {
		margin-left: 0px;
		width: 100%;
	}

	.aboutUsTitleContent img {
		margin: 0 auto;
	}

	.aboutUsIems {
		flex-direction: column-reverse;
	}

	.aboutUsIemsRight {
		border-left: none;
		width: 90%;
		margin: 5px auto 30px auto;
	}

	.aboutUsContent {
		flex-direction: column-reverse;
	}

	.aboutUsContentRight {
		width: 100%;
		height: max-content;
		max-height: max-content;
	}

	.aboutUsContentLeft {
		width: 100%;
		margin-bottom: 30px;
		height: max-content;
		max-height: max-content;
	}
}

@media screen and (max-width: 800px) and (min-width: 505px) {
	.filmList {
		display: flex;
		/* margin-top: 2rem; */
		flex-direction: row;
		flex-flow: wrap;
		/* right: 32%; */
		margin-right: 5%;
		margin-top: 11px;
	}

	.filmItem {
		margin: 11px auto 5px auto;
		position: relative;
		width: 49.999%;
	}

	.filmItem1 {
		margin: 0px auto 5px auto;
		position: relative;
		width: 49.999%;
	}

	.filmAppTitle p {
		margin-top: 9px;
	}
}

@media screen and (max-width: 650px) and (min-width : 505px) {
	.positionPIcMp4 {
		top: 23%;
	}
}

@media screen and (max-width: 504px) {
	.textPic {
		font-size: 12px;
		text-align: center;
		margin: 10px auto;
	}

	.filmList {
		display: flex;
		flex-direction: column;
	}

	.filmItem {
		width: fit-content;
		margin: .5rem auto;
	}

	.picAnimation {
		display: block;
		margin: 0 auto;
	}

	.filmItem1 {
		width: fit-content;
		margin: .5rem auto;
	}

	.positionPIcMp4 {
		top: 23%;
		right: 38%
	}
}

@media screen and (max-width: 400px) {
	.positionPIcMp4 {
		top: 22%;
	}

	.textPic {
		font-size: 11px;
	}
}


@media screen and (min-width: 1442px) {
	.newshearContent {
		display: flex;
		flex-direction: column;
		height: 90%;
		margin: 0 auto 100px auto;
	}

	.newhearcontent {
		display: flex;
		flex-direction: column;
		width: 85%;
		border: 1px solid #FF5630;
		border-radius: 3px;
		padding: 20px 2% 3px 2%;
		line-height: 2;
		overflow: auto;
		position: relative;
		right: 86px;
		top: 30px;
		height: 90%;
	}

	.card {
		border: 1px solid #CECECE;
		border-radius: 3px;
		overflow: auto;
		width: 97%;
		padding: 10px 0 0px 0;
		text-align: right;
		direction: rtl;
		margin: 0rem auto 1rem auto;
		height: 50%;
	}

	.voicecardA {
		display: flex;
		flex-direction: row;
		height: 22%;
		justify-content: space-between;
		font-size: 17px;
	}

	.voicecardB {
		display: flex;
		flex-direction: row;
		height: 22%;
		justify-content: space-between;
		font-size: 18px;
	}

	.voicecard1 {
		display: flex;
		flex-direction: row;
		height: 40%;
	}

	.buttonVoice {
		margin-right: 45%;
		margin-top: 8px;
	}

	.questionsTitle p {
		color: #344563;
		padding: 8px 0px 15px 0;
		font-weight: bolder;
		font-size: 18px;
	}
}

@media screen and (max-width: 1442px) and (min-width: 1350px) {
	.questionsTitle p {
		color: #344563;
		padding: 8px 0px 15px 0;
		font-weight: bolder;
		font-size: 18px;
	}

	.newshearContent {
		display: flex;
		flex-direction: column;
		height: 90%;
		margin: 0 auto 100px auto;
	}

	.newhearcontent {
		display: flex;
		flex-direction: column;
		width: 85%;
		border: 1px solid #FF5630;
		border-radius: 3px;
		padding: 20px 2% 3px 2%;
		line-height: 2;
		overflow: auto;
		position: relative;
		right: 86px;
		top: 30px;
		height: 90%;
	}

	.card {
		border: 1px solid #CECECE;
		border-radius: 3px;
		overflow: auto;
		width: 97%;
		padding: 10px 0 0px 0;
		text-align: right;
		direction: rtl;
		margin: 0rem auto 1rem auto;
		height: 50%;
	}

	.voicecardA {
		display: flex;
		flex-direction: row;
		height: 22%;
		justify-content: space-between;
		font-size: 17px;
	}

	.voicecardB {
		display: flex;
		flex-direction: row;
		height: 22%;
		justify-content: space-between;
		font-size: 17px;
	}

	.voicecard1 {
		display: flex;
		flex-direction: row;
		height: 40%;
	}

	.buttonVoice {
		margin-right: 45%;
		margin-top: 8px;
	}

}

@media screen and (max-width: 1350px) and (min-width: 1220px) {
	.questionsTitle p {
		color: #344563;
		padding: 8px 0px 15px 0;
		font-weight: bolder;
		font-size: 18px;
	}

	.newshearContent {
		display: flex;
		flex-direction: column;
		height: 90%;
		margin: 0 auto 100px auto;
	}

	.newhearcontent {
		display: flex;
		flex-direction: column;
		width: 85%;
		border: 1px solid #FF5630;
		border-radius: 3px;
		padding: 20px 2% 3px 2%;
		line-height: 2;
		overflow: auto;
		position: relative;
		right: 86px;
		top: 24px;
		height: 90%;
	}

	.card {
		border: 1px solid #CECECE;
		border-radius: 3px;
		overflow: auto;
		width: 97%;
		padding: 10px 0 0px 0;
		text-align: right;
		direction: rtl;
		margin: 0rem auto 1rem auto;
		height: 50%;
	}

	.voicecardA {
		display: flex;
		flex-direction: row;
		height: 22%;
		justify-content: space-between;
		font-size: 17px;
	}

	.voicecardB {
		display: flex;
		flex-direction: row;
		height: 22%;
		justify-content: space-between;
		font-size: 17px;
	}

	.voicecard1 {
		display: flex;
		flex-direction: row;
		height: 40%;
	}

	.buttonVoice {
		margin-right: 45%;
		margin-top: 8px;
	}
}

@media screen and (max-width: 1219px) and (min-width: 992px) {
	.questionsTitle p {
		color: #344563;
		padding: 8px 0px 15px 0;
		font-weight: bolder;
		font-size: 18px;
	}

	.voicecard1 {
		display: flex;
		flex-direction: column;
	}

	.newhearcontent {
		width: 90%;
	}

	.newshearContent {
		margin-top: -3rem;
	}

	.namefile {
		width: 33%;
		font-weight: 500;
	}

	#forward-button {
		width: 5%;
		margin-left: 1%;
	}

	#playBtn {
		width: 5%;
		margin-left: 1%;
	}

	#backward-button {
		width: 5%;
		margin-right: 5px;
	}

	#forward-button1 {
		width: 5%;
		margin-left: 1%;
	}

	#playBtn1 {
		width: 5%;
		margin-left: 1%;
	}

	#backward-button1 {
		width: 5%;
		margin-right: 5px;
	}

	.newshearContent {
		display: flex;
		flex-direction: column;
		height: 90%;
		margin: 0 auto 100px auto;
	}

	.newhearcontent {
		display: flex;
		flex-direction: column;
		width: 90%;
		border: 1px solid #FF5630;
		border-radius: 3px;
		padding: 20px 2% 3px 2%;
		line-height: 2;
		overflow: auto;
		position: relative;
		right: 86px;
		top: 24px;
		height: 90%;
	}

	.card {
		border: 1px solid #CECECE;
		border-radius: 3px;
		overflow: auto;
		width: 97%;
		padding: 10px 0 0px 0;
		text-align: right;
		direction: rtl;
		margin: 0rem auto 1rem auto;
		height: 50%;
	}

	.voicecardA {
		display: flex;
		flex-direction: row;
		height: 22%;
		justify-content: space-between;
		/* font-size: 17px; */
	}

	.voicecardB {
		display: flex;
		flex-direction: row;
		height: 22%;
		justify-content: space-between;
		/* font-size: 17px; */
	}

	.voicecard1 {
		display: flex;
		flex-direction: row;
		height: 40%;
	}

	.buttonVoice {
		margin-right: 45%;
		margin-top: 8px;
	}

	.namefile {
		width: 43%;
		font-weight: 500;
	}
}

@media screen and (max-width: 991px) and (min-width: 789px) {
	.newshearContent {
		display: flex;
		flex-direction: column;
		height: 90%;
		margin: 0 auto 100px auto;
	}

	.newhearcontent {
		display: flex;
		flex-direction: column;
		width: 90%;
		border: 1px solid #FF5630;
		border-radius: 3px;
		padding: 20px 2% 3px 2%;
		line-height: 2;
		overflow: auto;
		position: relative;
		right: 86px;
		top: 24px;
		height: 90%;
	}

	.card {
		border: 1px solid #CECECE;
		border-radius: 3px;
		overflow: auto;
		width: 97%;
		padding: 10px 0 0px 0;
		text-align: right;
		direction: rtl;
		margin: 0rem auto 1rem auto;
		height: 50%;
	}

	.voicecardA {
		display: flex;
		flex-direction: row;
		height: 22%;
		justify-content: space-between;
		/* font-size: 17px; */
	}

	.voicecardB {
		display: flex;
		flex-direction: row;
		height: 22%;
		justify-content: space-between;
		/* font-size: 17px; */
	}

	.voicecard1 {
		display: flex;
		flex-direction: row;
		height: 40%;
	}

	.buttonVoice {
		margin-right: 45%;
		margin-top: 8px;
	}

	.voicecard1 {
		display: flex;
		flex-direction: column;
	}

	.newhearcontent {
		width: 95%;
		right: 26px;
	}

	/* .newshearContent {
		margin-top: -3rem;
	} */
	.namefile {
		width: 56%;
		font-weight: 500;
	}

	#forward-button {
		width: 5%;
		margin-left: 1%;
	}

	#playBtn {
		width: 5%;
		margin-left: 1%;
	}

	#backward-button {
		width: 5%;
		margin-right: 5px;
	}

	#forward-button1 {
		width: 5%;
		margin-left: 1%;
	}

	#playBtn1 {
		width: 5%;
		margin-left: 1%;
	}

	#backward-button1 {
		width: 5%;
		margin-right: 5px;
	}
}

@media screen and (max-width: 788px) and (min-width: 576px) {
	.namefile {
		width: 100%;
		font-weight: 500;
		font-size: 13px;
	}

	.newhearcontent {
		display: flex;
		flex-direction: column;
		width: 90%;
		border: 1px solid #FF5630;
		border-radius: 3px;
		padding: 20px 2%;
		line-height: 2;
		overflow: auto;
		position: relative;
		right: 41px;
		top: 12px;
	}

	.waveform {
		margin: 0 auto;
		width: 100%;
	}

	.waveform1 {
		margin: 0 auto;
		width: 95%;
	}

	#forward-button {
		width: 7%;
		margin-left: 1%;
	}

	#playBtn {
		width: 7%;
		margin-left: 1%;
	}

	#backward-button {
		width: 7%;
		margin-right: 5px;
	}

	.buttonVoice {
		margin-right: 45%;
		margin-top: 1rem;
	}

	#forward-button1 {
		width: 7%;
		margin-left: 1%;
	}

	#playBtn1 {
		width: 7%;
		margin-left: 1%;
	}

	#backward-button1 {
		width: 7%;
		margin-right: 5px;
	}
}

@media screen and (max-width: 575px) and (min-width : 443px) {
	.newhearcontent {
		display: flex;
		flex-direction: column;
		width: 102%;
		border: 1px solid #FF5630;
		border-radius: 3px;
		padding: 18px 2% 3px 2%;
		line-height: 2;
		overflow: auto;
		position: relative;
		right: -1px;
		top: 5px;
	}

	.card {
		border: 1px solid #CECECE;
		border-radius: 3px;
		overflow: auto;
		width: 99%;
		padding: 10px 2% 0px 2%;
		text-align: right;
		direction: rtl;
		margin: 0rem auto 1rem auto;
	}

	.namefile {
		width: 100%;
		font-weight: 500;
		font-size: 12px;
	}

	.timeVoice {
		width: 100%;
		text-align: left;
		font-weight: 500;
		margin-left: 1%;
		font-size: 12px;
	}

	.waveform {
		/* margin: 0 auto; */
		width: 100%;
	}

	.waveform1 {
		/* margin: 0 auto; */
		width: 100%;

	}

	.buttonVoice {
		margin-right: 38%;
		/* margin-top: 1rem; */
	}

	#forward-button {
		width: 9%;
		margin-left: 1%;
	}

	#playBtn {
		width: 9%;
		margin-left: 1%;
	}

	#backward-button {
		width: 9%;
		margin-right: 5px;
	}

	#forward-button1 {
		width: 9%;
		margin-left: 1%;
	}

	#playBtn1 {
		width: 9%;
		margin-left: 1%;
	}

	#backward-button1 {
		width: 9%;
		margin-right: 5px;
	}
}

@media screen and (max-width: 442px) {
	.containerVoice {
		width: 93%;
		margin: 0px auto 0px auto;
		direction: rtl;
		text-align: right;
		line-height: 1.5;
		position: relative;
		font-size: 14px;
	}

	.newhearcontent {
		display: flex;
		flex-direction: column;
		width: 102%;
		border: 1px solid #FF5630;
		border-radius: 3px;
		padding: 10px 2% 0px 2%;
		line-height: 2;
		overflow: auto;
		position: relative;
		right: -1px;
		top: 5px;
	}

	.card {
		border: 1px solid #CECECE;
		border-radius: 3px;
		overflow: auto;
		width: 99%;
		padding: 0px 2% 0px 2%;
		text-align: right;
		direction: rtl;
		/* margin: 1rem auto 1rem auto; */
	}

	.namefile {
		width: 100%;
		font-weight: 700;
		margin-right: 1%;
		font-size: 11px;
	}

	.waveform {
		/* margin: 0 auto; */
		width: 100%;
	}

	.waveform1 {
		/* margin: 0 auto; */
		width: 100%;
	}

	#forward-button {
		width: 9%;
		margin-left: 1%;
	}

	#playBtn {
		width: 9%;
		margin-left: 1%;
	}

	#backward-button {
		width: 9%;
		margin-right: 5px;
	}

	.buttonVoice {
		margin-right: 38%;
		/* margin-top: 1rem; */
	}

	#forward-button1 {
		width: 9%;
		margin-left: 1%;
	}

	#playBtn1 {
		width: 9%;
		margin-left: 1%;
	}

	#backward-button1 {
		width: 9%;
		margin-right: 5px;
	}

	.voicecardA {
		font-size: 11px;
		margin-top: 5px;
	}

	.voicecardB {
		font-size: 11px;
		margin-top: 5px;
	}

	.timeVoice {
		width: 100%;
		text-align: left;
		font-weight: 700;
		margin-left: 1%;
		font-size: 11px;
	}
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
	.transcontent {
		display: flex;
		flex-direction: column;
		width: 90%;
		border: 1px solid #FF5630;
		border-radius: 3px;
		padding: 20px 2%;
		line-height: 2;
		overflow: auto;
		position: relative;
		right: 86px;
		top: 34px;
	}

	.row h1 {
		width: 18%;
		margin-top: 5px;
		font-weight: 500;
		font-size: 11px;
	}
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	.transcontent {
		display: flex;
		flex-direction: column;
		width: 97%;
		border: 1px solid #FF5630;
		border-radius: 3px;
		padding: 20px 2%;
		line-height: 2;
		overflow: auto;
		position: relative;
		right: 28px;
		top: 34px;
	}

	.row h1 {
		width: 18%;
		margin-top: 5px;
		font-weight: 500;
		font-size: 11px;
	}

	.buttontrns {
		width: 18%;
		height: 30px;
		background-color: #FF5630;
		border: 1px solid #FF5630;
		border-radius: 3px;
		color: #ffffff;
		font-family: 'IRANSans';
		font-size: 12px;
		cursor: pointer;
	}
}

@media screen and (max-width: 767px) and (min-width: 665px) {
	.transcontent {
		display: flex;
		flex-direction: column;
		width: 101%;
		border: 1px solid #FF5630;
		border-radius: 3px;
		padding: 20px 2%;
		line-height: 2;
		overflow: auto;
		position: relative;
		right: 10px;
		top: 34px;
	}

	.row h1 {
		width: 18%;
		margin-top: 5px;
		font-weight: 500;
		font-size: 10px;
	}

	.buttontrns {
		width: 18%;
		height: 30px;
		background-color: #FF5630;
		border: 1px solid #FF5630;
		border-radius: 3px;
		color: #ffffff;
		font-family: 'IRANSans';
		font-size: 12px;
		cursor: pointer;
	}
}


@media only screen and (min-width: 1100px) {
	.cd-horizontal-timeline {
		margin: 1em auto;
	}

	.cd-horizontal-timeline::before {
		/* never visible - this is used in jQuery to check the current MQ */
		content: 'desktop';
	}
}

@media only screen and (min-width: 768px) {
	.cd-horizontal-timeline .events-content h2 {
		font-size: 7rem;
	}

	.cd-horizontal-timeline .events-content em {
		font-size: 2rem;
	}

	.cd-horizontal-timeline .events-content p {
		font-size: 1.8rem;
	}
}

@media only screen and (max-width: 576px) {
	.responsive {
		width: 50%;
	}

	.triptimeTitle {
		font-size: 12px;
	}

	div.desc {
		padding: 5px;
		max-width: 100%;
	}

	.triptimeLeft ul button {
		width: 25%;
	}

	.triptimeLeft ul li img {
		height: 20px;
	}

	.triptimeLeft ul li span {
		width: 60%;
	}

	.phoneContent ul {
		width: 100%;
	}

	.contactusLeftAboutUs {
		line-height: 1.5;
		border: 1px #ff5630 solid;
	}
}


@media screen and (max-width: 665px) and (min-width : 432px) {
	.transcontent {
		display: flex;
		flex-direction: column;
		width: 100%;
		border: 1px solid #FF5630;
		border-radius: 3px;
		padding: 20px 2%;
		line-height: 2;
		overflow: auto;
		position: relative;
		right: 21px;
		top: 34px;
	}

	.row {
		display: flex;
		flex-direction: column;
		width: 90%;
		margin-right: 3%;
		margin-bottom: 4px;
	}

	.extraFiles {
		flex-direction: row;
		/* font-size: 11px; */
	}

	.captchaTrans {
		flex-direction: row;
		/* font-size: 11px; */
	}

	.captchaTrans input {
		width: 38%;
	}

	.captchaimg {
		width: 36%;
		margin-top: 3px;
	}

	.rowbox {
		display: flex;
	}

	.row h1 {
		width: 39%;
		margin-top: 5px;
		font-weight: 500;
		font-size: 13px;
	}

	.secondmarg {
		margin-right: 0;
	}

	.inputrow {
		width: 65%;
		border: 1px solid #D0D0D0;
		padding: 10px;
		font-size: 12px;
		border-radius: 3px;
		font-family: 'IRANSansNumber';
		margin-bottom: 6px;
	}

	.buttontrns {
		width: 25%;
		height: 30px;
		background-color: #FF5630;
		border: 1px solid #FF5630;
		border-radius: 3px;
		color: #ffffff;
		font-family: 'IRANSans';
		font-size: 12px;
		cursor: pointer;
	}

	.row select {
		width: 65%;
		border: 1px solid #D0D0D0;
		padding: 10px;
		font-size: 11px;
		border-radius: 3px;
		font-family: 'IRANSans';
		margin-bottom: 6px;
	}


}

@media screen and (max-width: 431px) {
	.transcontent {
		display: flex;
		flex-direction: column;
		width: 108%;
		border: 1px solid #FF5630;
		border-radius: 3px;
		padding: 20px 2%;
		line-height: 2;
		overflow: auto;
		position: relative;
		right: -12px;
		top: 9px;
	}

	.row {
		display: flex;
		flex-direction: column;
		width: 90%;
		margin-right: 3%;
		margin-bottom: 4px;
	}

	.captchaimg {
		margin-top: 3px;
		width: fit-content;

	}

	.rowbox {
		display: flex;
	}

	.row h1 {
		width: 35%;
		margin-top: 5px;
		font-weight: 500;
		font-size: 11px;
	}

	.secondmarg {
		margin-right: 0;
	}

	.inputrow {
		width: 65%;
		border: 1px solid #D0D0D0;
		padding: 10px;
		font-size: 12px;
		border-radius: 3px;
		font-family: 'IRANSansNumber';
		margin-bottom: 6px;
	}

	.buttontrns {
		width: 33%;
		height: 30px;
		background-color: #FF5630;
		border: 1px solid #FF5630;
		border-radius: 3px;
		color: #ffffff;
		font-family: 'IRANSans';
		font-size: 12px;
		cursor: pointer;
	}

	.row select {
		width: 65%;
		border: 1px solid #D0D0D0;
		padding: 10px;
		font-size: 11px;
		border-radius: 3px;
		font-family: 'IRANSans';
		margin-bottom: 6px;
	}

	.codeamniati {
		width: 49%;
	}
}

@media only screen and (max-width: 400px) {
	.triptimeRouteDetails div {
		font-size: 11px;
	}

	.triptimeRouteDetails span {
		font-size: 10px;
	}

	.captcha {
		flex-direction: column-reverse;
	}

	.captcha img {
		width: 100%;
	}

	.captcha input {
		width: 100% !important;
		margin-right: 0%;
	}

	.contactusLeftAboutUs p span {
		font-size: 12px;
		line-height: 2;
	}

	.contactusLeftAboutUs {
		height: 40vh;
		max-height: 40vh;
		border: 1px #ff5630 solid;
	}
}